.c-profile-card {
  &__vector {
    width: 150px;
    height: 150px;
    bottom: -40px;
    margin: auto;
    display: none;
  }

  &__content {
    img {
      filter: drop-shadow(0 10px 20px rgba($dark, 0.5));
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: calc(100% - 10%);
    height: calc(100% - 40px);
    border-radius: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--secondary {
    &::before {
      background-color: $secondary-color;
    }
  }

  &--warning {
    &::before {
      background-color: $warning-color;
    }
  }

  &--primary {
    &::before {
      background-color: $primary-color;
    }
  }
}

@include breakpoint(medium) {
  .c-profile-card {
    &__vector {
      width: 160px;
      height: 160px;
      display: block;
    }

    &--vector-right {
      .c-profile-card__vector {
        transform: rotateZ(10deg);
        right: -40px;
      }
    }

    &--vector-left {
      .c-profile-card__vector {
        transform: rotateZ(-10deg);
        left: -40px;
      }
    }
  }
}
