.c-profile-card__vector {
  width: 150px;
  height: 150px;
  bottom: -40px;
  margin: auto;
}

.c-profile-card__vector--right {
  transform: rotateZ(10deg);
  right: -40px;
}

.c-profile-card__vector--left {
  transform: rotateZ(-10deg);
  left: -40px;
}
