.c-timeline {
  margin: 5rem 0;

  &__line {
    bottom: 40%;
    left: 0;
    height: 9px;
  }

  &__year {
    padding: 0 2rem 20% 2rem;
  }

  &__gradient {
    background: rgba($color: $dark, $alpha: 0.5);
    top: 0;
    left: 0;
    z-index: 55;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .c-card-article {
    margin: 2rem 0;

    &__content {
      min-height: 3rem;
    }

    &__figure {
      height: 235px;
    }
  }

  .swiper-slide:nth-child(odd) {
    .c-card-article {
      transform: rotate(-11deg);
    }
  }

  .swiper-slide:nth-child(even) {
    .c-card-article {
      transform: rotate(11deg);
    }

    .c-timeline__year {
      padding: 0 2rem 50% 2rem;
    }
  }
}

.tippy-box[data-theme~="mab-secondary"] {
  // background-color: $secondary-color;
  background: $white;
  color: $dark;
  border-radius: 20px;

  &[data-placement^="top"] > .tippy-arrow::before {
    border-top-color: $white;
  }

  &[data-placement^="bottom"] > .tippy-arrow::before {
    border-bottom-color: $white;
  }

  &[data-placement^="left"] > .tippy-arrow::before {
    border-left-color: $white;
  }

  &[data-placement^="right"] > .tippy-arrow::before {
    border-right-color: $white;
  }
}

.c-timeline-tooltip {
  .flex-container {
    flex-wrap: wrap;
  }

  &__year {
    width: 100%;
  }
}

@include breakpoint(large) {
  .c-timeline {
    margin: 12rem 0 7rem;

    .swiper-container {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .c-card-article {
      &__figure {
        height: 255px;
      }
    }
  }

  .tippy-box[data-theme~="mab-secondary"] {
    max-width: none !important;
    width: 600px;
  }

  .c-timeline-tooltip {
    .flex-container {
      flex-wrap: unset;
    }

    &__year {
      width: auto;
      // padding: 2rem;
      padding: 2rem 1rem 2rem 0;
    }
  }
}
