.c-us-comment {
  margin-bottom: 5rem;

  &__content {
    padding: 6rem 2rem 3rem;

    @include triangle(left, bottom, 6rem, -80px, 50px, 20px, 50px);

    &::after {
      transform: rotate(-90deg);
      bottom: -70px;
    }
  }

  &__figure {
    top: -3rem;
    width: 8rem;
    left: 2rem;
  }

  .c-card-article {
    margin-top: 5rem;
  }
}

.c-us-comment--simple {
  ::after {
    display: none;
  }

  .c-us-comment__content {
    font-size: 35px;
    padding: 0 5rem 1rem 1rem;
  }

  .to-right {
    padding-right: 1rem;

    p {
      padding-right: 0;
    }
  }

  .c-us-comment__autor {
    font-size: $fs-21;
  }

  .c-card-article {
    margin-top: 2rem;
  }
}

@include breakpoint(large) {
  .c-us-comment {
    margin-bottom: 10rem;

    .c-card-article {
      margin-top: 0;
      transform: rotate(-9deg);
      width: calc(400px + 2rem);
      float: right;

      &__figure {
        height: 440px;
      }
    }

    &__figure {
      top: -6rem;
      width: 11rem;
      left: -3rem;
    }

    &__content {
      padding: 4rem 4rem 3rem;
      font-size: $fs-18;
    }
  }

  .c-us-comment--simple {
    margin-bottom: 5rem;

    .c-us-comment__content {
      font-size: 45px;

      p {
        line-height: 55px;
        padding-right: 4rem;
      }
    }

    .to-right {
      p {
        padding-right: 0;
      }
    }

    .c-card-article {
      transform: rotate(9deg);
    }

    .c-card-article.to-left {
      transform: rotate(-9deg);
    }
  }

  .c-us-comment--reverse {
    .grid-x {
      flex-direction: row-reverse;
    }
  }
}
