.c-browser-container {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  top: 50px;

  @include transition;
  @include box-shadow(right, rgba($dark, 0.4), 0, 3.5px, 10px);

  &.enable {
    visibility: visible;
    opacity: 1;
  }
}

.c-browser {
  outline: none;
  height: 40px;

  &__icon {
    padding: 0 1rem;

    @include transition(0.3s);

    &:hover {
      background-color: $warning-color;
      color: $dark;
    }
  }

  &__input {
    background-color: $white !important;
    box-shadow: none;
    font-family: $font-family-secondary;
    color: $dark;

    @include transition(0.25s);

    &::placeholder {
      color: $gray;
    }

    &:focus {
      border: solid 2px transparent;
    }
  }
}
