.c-button {
  padding: 0.5rem 1rem;
  line-height: inherit;

  @include b-radious(5px);
  @include transition(0.25s);

  &--primary {
    background-color: $primary-color;
    color: $white;

    &:hover,
    &:focus {
      background-color: $primary-alt;
      color: $white;
    }
  }

  &--secondary {
    background-color: $secondary-color;
    color: $white;

    &:hover,
    &:focus {
      background-color: $secondary-dark;
      color: $white;
    }
  }

  &--secondary-alt {
    background-color: $secondary-alt;
    color: $white;

    &:hover,
    &:focus {
      background-color: $secondary-medium;
      color: $white;
    }
  }

  &--secondary-light {
    background-color: $secondary-light;
    color: $white;

    &:hover,
    &:focus {
      background-color: $secondary-lighter;
      color: $white;
    }
  }

  &--ghost-secondary {
    border: solid 2px $black;
    color: $black;

    &:hover,
    &:focus {
      color: $secondary-alt;
      border-color: $secondary-alt;
    }
  }

  &--ghost {
    border: solid 2px $primary-color;
    color: $black;

    .c-icon {
      color: $secondary-alt;

      @include transition(0.25s);
    }

    &:hover,
    &:focus {
      color: $white;
      background-color: $primary-color;

      .c-icon {
        color: $white;
      }
    }
  }

  &--ghost-primary {
    border: solid 2px $primary-color;
    color: $primary-color;

    &:hover,
    &:focus {
      color: $white;
      background-color: $primary-color;
    }
  }

  &--ghost-gray {
    border: solid 2px $gray;
    color: $gray;

    &:hover,
    &:focus {
      color: $white;
      background-color: $gray;
    }
  }

  &--ghost-white {
    border: solid 2px $white;
    color: $white;

    &:hover,
    &:focus {
      color: $secondary-color;
      background-color: $white;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: no-drop;
  }

  &--warning {
    background: $warning-color;
    color: $secondary-color;

    @include b-radious(10px);
  }

  &--warning-alert {
    background: $warning-color;
    color: $alert-color;

    @include b-radious(10px);
  }

  &--warning-success {
    background: $warning-color;
    color: $success-color;

    @include b-radious(10px);
  }

  &--warning-primary {
    background: $warning-color;
    color: $primary-color;

    @include b-radious(10px);
  }

  &--black-warning {
    background: $dark;
    color: $warning-color;

    @include b-radious(10px);
  }

  &--mab-warning-black {
    background: $warning-color;
    color: $dark;
  }

  &--success {
    background: $success-color;
    color: $white;

    @include b-radious(10px);
  }

  // ----------
  &--small {
    padding: 0.3rem 1.5rem;
    font-size: $fs-14 !important;
  }

  &--arrow {
    font-size: $fs-18;
    font-family: $font-family-secondary;
  }

  &--warning-black {
    background: $warning-color;
    color: $black;
    font-family: $font-family-secondary;
    font-size: $fs-21;
    line-height: 24px;

    @include b-radious(20px);
  }

  &--course {
    font-size: $fs-12;
    padding: 0.5rem;
  }

  &.loading {
    &:disabled {
      cursor: wait;
    }
  }
}

.c-btn-input-social {
  background: $white;
  padding: 0.3rem 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;

  img {
    width: 30px;
  }
}
// ----------
