.c-cover-gradient {
  &__image {
    object-fit: cover;
    object-position: center;
  }

  &__figcaption {
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__top {
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    background: linear-gradient(red, transparent);
  }

  &__bottom {
    box-sizing: border-box;

    .c-gradient-title {
      p {
        margin-bottom: 0;
        color: $white;
        font-size: $fs-40;
        line-height: 40px;
      }

      p.tiny {
        font-size: $fs-30;
        line-height: 30px;
      }

      span {
        color: $warning-color;
      }

      > span {
        font-size: 80px;
        line-height: 70px;
        display: block;
        margin-bottom: 0.5rem;
      }

      > span.medium {
        font-size: 60px;
        line-height: 50px;
      }

      > span.tiny {
        font-size: $fs-50;
        line-height: 50px;
      }
    }
  }

  .c-corner-logo {
    height: 30px;
  }

  .c-corner-text {
    color: $white;
    font-size: $fs-16;
    line-height: 18px;
    padding: 1rem 0;
  }

  &__text {
    max-width: 90%;
    color: $white;
  }

  span {
    color: $warning-color;
  }

  &--primary {
    .c-cover-gradient__top {
      background: linear-gradient($primary-color, transparent);
    }

    .c-cover-gradient__bottom {
      background: linear-gradient(to top, rgba($primary-dark, 0.7) 60%, transparent);
    }
  }

  &--secondary {
    .c-cover-gradient__top {
      background: linear-gradient($secondary-color, transparent);
    }

    .c-cover-gradient__bottom {
      background: linear-gradient(to top, rgba($secondary-dark, 0.7) 60%, transparent);
    }
  }

  &--success {
    .c-cover-gradient__top {
      background: linear-gradient($success-color, transparent);
    }

    .c-cover-gradient__bottom {
      background: linear-gradient(to top, rgba($success-dark, 0.8) 60%, transparent);
    }
  }

  &--alert {
    .c-cover-gradient__top {
      background: linear-gradient($alert-color, transparent);
    }

    .c-cover-gradient__bottom {
      background: linear-gradient(to top, rgba($primary-dark, 0.7) 60%, transparent);
    }
  }

  &--warning {
    .c-cover-gradient__top {
      background: linear-gradient($warning-color, transparent);
    }

    .c-cover-gradient__bottom {
      background: linear-gradient(to top, rgba($warning-dark, 0.5) 60%, transparent);
    }
  }

  &--dark {
    .c-cover-gradient__top {
      background: linear-gradient($dark, transparent);
    }

    .c-cover-gradient__bottom {
      background: linear-gradient(to top, rgba($dark, 0.5) 60%, transparent);
    }
  }
}

@include breakpoint(large) {
  .c-cover-gradient {
    &__text {
      font-size: $fs-30;
      line-height: 32px;
    }
  }
}
