.c-cursos {
  top: 0;
  left: 0;
  padding-top: calc(80px);
  width: 18rem;
  height: 100%;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-10px);
  background-image: url('../images/vectors/courses/plant.png');
  background-position: center calc(100% + 1rem);
  background-size: 100px;
  background-repeat: no-repeat;
  overflow-y: auto;

  @include transition(0.3s);

  &__title {
    font-size: 35px;
    padding-bottom: 1rem;
    margin: 2rem 1.5rem;
    border-bottom: solid 1px $warning-color;

    &--grade {
      font-size: $fs-30;
    }
  }

  &__item {
    a {
      text-transform: uppercase;
      color: $white;
      padding: 0.5rem 1.5rem;
      position: relative;
      z-index: 5;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: '';
        width: 0;
        height: 100%;
        background-color: $primary-color;

        @include transition(0.3s);
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

@include breakpoint(large) {
  .c-cursos.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}
