.c-cursos {
  top: 0;
  left: 0;
  padding-top: calc(80px);
  width: 18rem;
  height: 100%;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-10px);
  background-image: url('../images/vectors/courses/plant.png'), url('../images/vectors/courses/shower.png');
  background-position: left calc(100% + 1rem), right 80px;
  background-size: 100px, 180px;
  background-repeat: no-repeat;
  overflow-y: auto;

  @include transition(0.3s);

  &__title {
    font-size: 45px;
    letter-spacing: 0.5rem;
    padding-bottom: 1rem;
    margin: 2rem 1.5rem;
    border-bottom: solid 1px $dark;
  }

  &__item {
    a {
      text-transform: uppercase;
      color: $dark;
      background-color: $medium-gray;
      padding: 0.5rem 1.5rem;

      @include transition(0.25s);

      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
  }

  &__item.active {
    a {
      background-color: $secondary-alt;
      border-bottom: solid 1px $secondary-alt;
      color: $white;
    }
  }
}

@include breakpoint(large) {
  .c-cursos.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}
