.c-form {
  &__input,
  &__select {
    border: none !important;
    font-weight: $medium-font;
    background-color: $warning-color;
    color: $dark;

    @include transition(0.25s);

    &:focus {
      background-color: $warning-color;
      box-shadow: none !important;
    }
  }

  &__input {
    &--secondary {
      font-family: $font-family-secondary;
      font-size: $fs-18;
    }
  }

  &__input.valid,
  &__select.valid {
    box-shadow: $success-color 0 0 0 5px !important;
  }

  &__select {
    cursor: pointer;
  }
}

.c-form-new {
  &__input-container {
    label {
      margin-bottom: 0.5rem;
      font-size: $fs-18;
    }

    input,
    select,
    .c-fake-input {
      background: $white;
      padding: 0.3rem 1rem;
      margin-bottom: 0;
      // border-radius: 10px;
      border-radius: 17px;
      font-family: $font-family-secondary !important;
      font-weight: $medium-font;
      border: 1px solid rgba($color: $white, $alpha: 0.8);
    }

    select {
      text-align: center;
      text-align-last: center;
      background-image: url('../images/black-triangle.png') !important;
      background-color: $white;
      background-size: 10px auto;
      background-position: 95% center;
      background-repeat: no-repeat;
    }

    .c-fake-input {
      padding: 0.5rem 0;

      &__prefix {
        display: inline-block;
        width: 55px;
        padding: 0 0.5rem 0 1rem;
        border-right: 1px solid $gray;
      }

      input {
        border: none;
        box-shadow: none;
        padding: 0 1rem;
        height: auto;
        text-align: left;
        text-align-last: left;
      }
    }
  }

  .check-group {
    &__item {
      width: 30%;

      label {
        width: 100%;
        padding: 0.3rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
      }

      input[type=radio]:checked ~ label {
        outline: none;
        background: $primary-color;
        color: $white;
      }
    }
  }

  &__error {
    border-left: solid 4px $primary-color;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
  }

  &__terminos {
    margin-top: 1.5rem;

    a {
      text-decoration: underline;
      padding-left: 10px;

      &:hover {
        color: $dark;
      }
    }
  }

  .c-button {
    font-size: $fs-18;
    font-weight: 500;
  }

  &--warning {
    .c-form-new__error {
      border-left: solid 4px $warning-color;
    }
  }
}
