.c-form {
  &__input,
  &__select {
    border: none !important;
    font-weight: $medium-font;
    background-color: $warning-color;
    color: $dark;

    @include transition(0.25s);

    &:focus {
      background-color: $warning-color;
      box-shadow: none !important;
    }
  }

  &__input {
    &--secondary {
      font-family: $font-family-secondary;
      font-size: $fs-18;
    }
  }

  &__input.valid,
  &__select.valid {
    box-shadow: $success-color 0 0 0 5px !important;
  }

  &__select {
    cursor: pointer;
  }
}
