.c-image-bottom-title {
  width: 100%;
  height: 160px;

  &__img {
    object-position: top;
    object-fit: cover;
    border-radius: 20px;
  }

  &__shade {
    border-radius: 20px;
    bottom: 0;
    left: 0;
    background: rgba($color: $primary-color, $alpha: 0.5);
    align-items: flex-end;
  }

  &__text {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0.3rem 1rem;
    font-size: $fs-14;
    background: $primary-color;
    min-height: 45px;
    line-height: 15px;
  }
}

@include breakpoint(large) {
  .c-image-bottom-title {
    &__text {
      font-size: $fs-16;
    }
  }
}
