.c-lideres {
  .swiper-slide {
    height: auto;
  }

  .c-lider-avatar {
    flex-grow: 1;
  }

  .c-button {
    padding: 0.5rem 2rem;
  }

  .c-profile-card {
    &__content img {
      width: 250px;
    }
  }
}
