.c-likes {
  &__item button {
    padding: 0.5rem 1rem;
    color: $dark;

    @include transition(0.25s);

    .c-icon {
      margin-right: 0.5rem;
    }

    &:hover,
    &:focus {
      color: $secondary-alt;
    }
  }
}

.c-likes.done {
  .c-likes__toggle,
  .c-likes__toggle > p {
    color: $secondary-alt;
  }
}
