.c-mab-subcategory {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;
  display: flex !important;
  justify-content: center;
  align-items: center;

  &:hover,
  &.enable {
    background: $warning-color;
  }
}

@include breakpoint(large) {
  .c-mab-subcategory {
    width: 150px;
    height: 150px;
    font-size: $fs-25;
    line-height: 28px;
  }
}
