.c-modal {
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba($primary-alt, 0.85);
  visibility: hidden;
  opacity: 0;

  @include transition(0.3s);

  &__content {
    padding: 1rem;
    visibility: hidden;
    opacity: 0;
    height: 89vh;
    transform: translateY(20px);

    @include transition(0.3s);

    transition-delay: 0.3s;
  }

  &__body {
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
  }

  &--auto {
    .c-modal__content {
      height: auto;
    }
  }

  &.opened {
    visibility: visible;
    opacity: 1;

    .c-modal__content {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.c-mab-modal {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba($color: $black, $alpha: 0.5);
  height: 100vh;
  width: 100%;
  z-index: 54656564654;
  display: none !important;

  .c-mab-modal-content {
    border-radius: 25px;
    padding: 2rem;

    &__title {
      font-size: $fs-21;
      margin-bottom: 2rem;
    }
  }

  &__top-image {
    width: 150px;
    margin: -8rem auto -2rem;
  }

  &__cross {
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &--mini {
    .c-button {
      max-width: 145px;
    }
  }

  &--bg-blue {
    background: rgba($color: $secondary-color, $alpha: 0.7);

    .c-mab-modal-content {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
      max-width: 630px;
      margin: 0 auto;
    }
  }
}

.c-mab-modal.visible {
  display: flex !important;
}

@include breakpoint(large) {
  .c-modal {
    &__content {
      padding: 2rem;
    }
  }

  .c-mab-modal {
    width: 58.33333%;

    .c-mab-modal-content {
      padding: 3rem 4rem;

      &__title {
        font-size: $fs-25;
      }
    }

    &__top-image {
      width: 180px;
      margin: -12rem auto -3em;
    }
  }
}
