.c-navigation {
  border-bottom: solid 2px $medium-gray;

  p {
    display: none;
  }
}

.c-bullet-steps {
  &__bullets span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
  }
}

@include breakpoint(medium) {
  .c-navigation {
    p {
      display: block;
    }
  }
}
