.c-register-layout {
  min-height: 100vh;
  background: red;

  &__figure {
    display: none;
  }

  &__content {
    background: green;
  }
}

@include breakpoint(large) {
  .c-register-layout {
    min-height: 650px;
    height: 100vh;

    &__figure {
      display: block;
      background: blue;
    }
  }
}
