.c-split-layout {
  min-height: 100vh;

  &__figure {
    display: none;
  }

  .c-split-layout-content {
    &--primary {
      background: $primary-color;
    }

    &--secondary {
      background: $secondary-color;
    }

    &--success {
      background: $success-color;
    }

    &--alert {
      background: $alert-color;
    }

    &__title {
      font-size: $fs-30;
    }
  }
}

@include breakpoint(large) {
  .c-split-layout {
    &__figure {
      display: block;
    }

    .c-split-layout-content {
      height: 100vh;
      overflow-y: auto;
      display: flex;
      align-items: center;

      &__title {
        font-size: 45px;
      }
    }
  }
}
