.c-split-layout {
  min-height: 100vh;

  &__figure {
    display: none;
  }

  .c-split-layout-content {
    &--primary {
      background: $primary-color;
    }

    &--secondary {
      background: $secondary-color;
    }

    &--success {
      background: $success-color;
    }

    &--alert {
      background: $alert-color;
    }

    &__title {
      font-size: $fs-30;
    }

    .c-btn-input-social {
      background: $white;
      padding: 0.3rem 1rem;
      margin-bottom: 1rem;
      border-radius: 10px;

      img {
        width: 30px;
      }
    }

    .c-form-new {
      .input-container {
        label {
          margin-bottom: 0.5rem;
          font-size: $fs-18;
        }

        input {
          background: $white;
          padding: 0.3rem 1rem;
          margin-bottom: 0;
          border-radius: 10px;
          $font-family: "DINRoundPro", sans-serif !important;
        }

        .c-input-error {
          border-left: solid 4px #de0d46;
          padding-left: 0.5rem;
          margin-top: 0.5rem;
          display: none;
        }
      }

      .c-terminos {
        margin-top: 1.5rem;

        a {
          text-decoration: underline;
          padding-left: 10px;

          &:hover {
            color: $warning-color;
          }
        }
      }

      .c-button {
        font-size: $fs-18;
        font-weight: 800;
      }
    }
  }
}

@include breakpoint(large) {
  .c-split-layout {
    &__figure {
      display: block;
    }

    .c-split-layout-content {
      height: 100vh;
      overflow-y: scroll;

      &__title {
        font-size: 45px;
      }
    }
  }
}

@media (min-width: 1600px) {
  .c-split-layout {
    .c-split-layout-content {
      height: 100vh;
      overflow-y: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
