.c-toggle {
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  background: $secondary-color;

  @include b-radious(10px);

  &__content {
    height: 50px;
  }

  .c-icons-container {
    height: 50px;
    width: 28px;
    top: 0;
    left: 0;

    .c-icons {
      @include transition(0.5s);
    }

    .c-icon {
      width: 28px;
      height: 50px;
      font-size: 1.2rem;
      color: $white;
    }
  }

  &:focus,
  &:hover {
    background: $primary-color;
  }

  > input:checked + .c-toggle__content .c-icons {
    transform: translateY(-50px);
  }
}

@include breakpoint(large) {
  .c-toggle {
    display: none;
  }
}
