.c-card-video {
  &__thumbnail {
    height: 317px;

    img {
      @include transition(0.35s);
    }

    &:hover {
      img {
        transform: scale(1.4) rotateZ(-10deg);
      }

      .c-card-video__play {
        transform: scale(1);
      }
    }
  }

  &__play {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    color: $white;
    transform: scale(0.9);

    @include transition(0.3s);
  }

  &__title {
    font-weight: $regular-font;
  }
}
