.c-mab-category {
  width: 100%;
  height: 160px;
  cursor: pointer;
  border-radius: 30px;

  &__img {
    object-position: top;
    object-fit: cover;
    border-radius: 20px;
  }

  &__shade,
  &__gradient {
    border-radius: 20px;
    bottom: 0;
    left: 0;
    align-items: flex-end;
  }

  &__gradient {
    opacity: 0;
    transition: all 0.5s;
  }

  &__text {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0.3rem 1rem;
    font-size: $fs-14;
    min-height: 45px;
    line-height: 15px;
  }
}

.c-mab-category--secondary {
  .c-mab-category__gradient {
    background: $secondary-color;
  }

  .c-mab-category__text {
    background: $secondary-color;
  }
}

.c-mab-category--alert {
  .c-mab-category__gradient {
    background: $alert-color;
  }

  .c-mab-category__text {
    background: $alert-color;
  }
}

.c-mab-category--warning-alt {
  .c-mab-category__gradient {
    background: $warning-alt;
  }

  .c-mab-category__text {
    background: $warning-alt;
  }
}

.c-mab-category--success {
  .c-mab-category__gradient {
    background: $success-color;
  }

  .c-mab-category__text {
    background: $success-color;
  }
}

.c-mab-category:hover,
.c-mab-category.active {
  .c-mab-category__gradient {
    opacity: 0.5;
  }
}

@include breakpoint(large) {
  .c-category {
    &__text {
      font-size: $fs-16;
    }
  }
}
