.c-mab-category {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  &__img {
    height: 135px;

    img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  &__shade,
  &__gradient {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: 0;
    left: 0;
    align-items: flex-end;
  }

  &__gradient {
    opacity: 0;
    transition: all 0.5s;
  }

  &__shade {
    flex-grow: 1;
  }

  &__text {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0.3rem 1rem;
    font-size: $fs-16;
    min-height: 45px;
    line-height: 15px;
    height: 100%;
  }

  &--secondary {
    .c-mab-category__gradient {
      background: $secondary-color;
    }

    .c-mab-category__text {
      background: $secondary-color;
    }
  }

  &--alert {
    .c-mab-category__gradient {
      background: $alert-color;
    }

    .c-mab-category__text {
      background: $alert-color;
    }
  }

  &--warning {
    .c-mab-category__gradient {
      background: $warning-color;
    }

    .c-mab-category__text {
      background: $warning-color;
    }
  }

  &--success {
    .c-mab-category__gradient {
      background: $success-color;
    }

    .c-mab-category__text {
      background: $success-color;
    }
  }

  &--pri-alt {
    .c-mab-category__gradient {
      background: $primary-alt;
    }

    .c-mab-category__text {
      background: $primary-alt;
    }
  }
}

.c-mab-category:hover,
.c-mab-category.active {
  .c-mab-category__gradient {
    opacity: 0.5;
  }
}

@include breakpoint(large) {
  .c-category {
    &__text {
      font-size: $fs-16;
    }
  }
}
