.c-footer {
  .c-social-cards {
    &__item {
      width: 35px;
      height: 35px;
      color: $dark;
      margin-right: 1rem;
    }
  }

  &__content {
    padding-bottom: 5rem;
  }

  &__vector {
    position: relative;
    width: 200px;
    left: 0;
    right: 0;
    bottom: -50px;
  }
}

@include breakpoint(medium) {
  .c-footer {
    .c-social-cards {
      justify-content: center;

      &__item {
        margin: 0 1rem;
      }
    }
  }
}

@include breakpoint(large) {
  .c-footer {
    .c-social-cards {
      &__item {
        margin: 0 1rem;
      }
    }

    &__vector-container {
      position: relative;
      height: 90px;
    }

    &__vector {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 250px;
    }
  }
}
