//-------------|---------------
// Base colors |
//-------------|---------------

$primary-colors: (
  'color': $primary-color,
  'alt': $primary-alt
);

$secondary-colors: (
  'color': $secondary-color,
  'alt': $secondary-alt,
  'gray': $secondary-gray,
  'dark': $secondary-dark,
  'light': $secondary-light
);

$gray-colors: (
  'light': $light-gray,
  'medium': $medium-gray,
  'dark': $dark-gray,
  'gray': $gray
);

$other-colors: (
  'white': $white,
  'black': $black,
  'dark': $dark,
  'shadow': $shadow,
  'success': $success-color,
  'warning': $warning-color,
  'warning-alt': $warning-alt,
  'alert': $alert-color,
);

//-------------|---------------
// Base Typography |
//-------------|---------------

$font-sizes: (
  '12' : $fs-12,
  '14' : $fs-14,
  '16' : $fs-16,
  '18' : $fs-18,
  '21' : $fs-21,
  '25' : $fs-25,
  '30' : $fs-30,
  '35' : $fs-35,
  '40' : $fs-40,
  '50' : $fs-50,
  '60' : $fs-60,
  '70' : $fs-70
);

$font-weights: (
  'light': $light-font,
  'regular': $regular-font,
  'medium': $medium-font,
  'sbold': $semibold-font,
  'bold': $bold-font,
  'xbold': $extrabold-font,
  'black': $extrabold-font
);

$font-families: (
  '1': $body-font-family,
  '2': $font-family-secondary
);

// 1. Text and Background colors
// --------------

@each $key, $pcolor in $primary-colors {
  .pri-#{$key} {
    color: $pcolor;
  }

  .bg-pri-#{$key} {
    background-color: $pcolor;
  }
}

@each $key, $scolor in $secondary-colors {
  .sec-#{$key} {
    color: $scolor;
  }

  .bg-sec-#{$key} {
    background-color: $scolor;
  }
}

@each $key, $gcolor in $gray-colors {
  .#{$key}-gray {
    color: $gcolor;
  }

  .bg-#{$key}-gray {
    background-color: $gcolor;
  }
}

@each $key, $ocolor in $other-colors {
  .#{$key} {
    color: $ocolor;
  }

  .bg-#{$key} {
    background-color: $ocolor;
  }
}

// 2. Font sizes
// --------------

@each $key, $fsize in $font-sizes {
  .fs-#{$key} {
    font-size: $fsize;
  }
}

// 3. Font weights
// --------------

@each $key, $fweight in $font-weights {
  .w-#{$key} {
    font-weight: $fweight;
  }
}

// 4. Font family
// --------------

@each $key, $ffam in $font-families {
  .f#{$key} {
    font-family: $ffam;
  }
}

//5. etc
// --------------
.br {
  &--small {
    border-radius: 5px;
  }

  &--medium {
    // border-radius: 10px;
    border-radius: 17px;
  }

  &--large {
    border-radius: 20px;
  }
}

.of {
  &--cover {
    object-fit: cover;
  }

  &--contain {
    object-fit: contain;
  }
}

.c-link {
  cursor: pointer;
  transition: all 0.3s;

  &--ho-warning {
    &:hover {
      color: $warning-color;
    }

    &:focus {
      color: $warning-color;
    }
  }

  &--ho-primary {
    &:hover {
      color: $primary-color;
    }
  }

  &--ho-secondary {
    &:hover {
      color: $secondary-color;
    }
  }

  &--white {
    color: $white;
  }

  &--black {
    color: $dark;
  }

  &--ho-dark {
    &:hover {
      color: $dark;
    }
  }

  &--sec {
    color: $secondary-color;

    &:hover,
    &:focus {
      color: $secondary-color;
    }
  }

  &--warning {
    color: $warning-color;

    &:hover,
    &:focus {
      color: $warning-color;
    }
  }
}

.p {
  &1 {
    padding: 1rem;
  }
}

.m {
  &b-05 {
    margin-bottom: 0.5rem;
  }

  &r-05 {
    margin-right: 0.5rem;
  }

  &l-05 {
    margin-left: 0.5rem;
  }
}

.c-lh {
  &--70,
  &--70 * {
    line-height: 70px;
  }

  &--60,
  &--60 * {
    line-height: 60px;
  }

  &--50,
  &--50 * {
    line-height: 50px;
  }

  &--40,
  &--40 * {
    line-height: 40px;
  }

  &--35,
  &--35 * {
    line-height: 35px;
  }

  &--30,
  &--30 * {
    line-height: 30px;
  }

  &--21,
  &--21 * {
    line-height: 21px;
  }

  &--18,
  &--18 * {
    line-height: 18px;
  }

  &--16,
  &--16 * {
    line-height: 16px;
  }

  &--14,
  &--14 * {
    line-height: 14px;
  }

  &--12,
  &--12 * {
    line-height: 12px;
  }
}

@include breakpoint(large) {
  .large-p {
    &2 {
      padding: 2rem;
    }

    &3 {
      padding: 3rem;
    }

    &l-2 {
      padding-left: 2rem;
    }
  }

  .large {
    &-align-right {
      justify-content: flex-end !important;

      &.flex-dir-column {
        align-items: flex-end !important;
      }
    }

    &-align-left {
      justify-items: flex-start !important;

      &.flex-dir-column {
        align-items: flex-start !important;
      }
    }
  }
}
