::-moz-selection {
  color: #fff;
  background: $primary-color;
}

::selection {
  color: #fff;
  background: $primary-color;
}

body {
  width: 100%;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $secondary-lightest;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary-alt;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary-medium;
}

.c-link {
  &--sec {
    color: $secondary-color;

    &:hover,
    &:focus {
      color: $secondary-color;
    }
  }

  &--white {
    color: $white;

    &:hover,
    &:focus {
      color: $white;
    }
  }
}

.c-overmoon {
  z-index: 99999999999;
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.v-lazy-image {
  filter: blur(20px) grayscale(100%);
  transition: filter 0.7s;

  &-loaded {
    filter: blur(0) grayscale(0);
  }
}
