::-moz-selection {
  color: #fff;
  background: $primary-color;
}

::selection {
  color: #fff;
  background: $primary-color;
}

body {
  width: 100%;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $secondary-lightest;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary-alt;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary-medium;
}

.c-overmoon {
  z-index: 99999999999;
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.v-lazy-image {
  filter: blur(20px) grayscale(100%);
  transition: filter 0.7s;

  &-loaded {
    filter: blur(0) grayscale(0);
  }
}

.column-between {
  flex-direction: column;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.opacity-0 {
  opacity: 0;
}

.c-dots-background {
  z-index: 5;

  &::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-size: contain;
    top: 0;
    z-index: -1;
  }

  &--primary {
    &::before {
      background-image: url("../images/dots/pattern.png");
    }
  }

  &--warning {
    &::before {
      background-image: url("../images/dots/pattern-warning.png");
    }
  }

  &.left {
    &::before {
      left: -80px;
    }
  }

  &.right {
    &::before {
      right: -80px;
    }
  }
}

.mab-shadow {
  box-shadow: 1px 1px 15px $shadow;
}

.mab-shadow-soft {
  box-shadow: 1px 1px 10px rgba($black, 0.5);
}

.desktop {
  display: none;
}

.lh-40 {
  line-height: 43px;
}

.lh-50 {
  line-height: 50px;
}

.lh-25 {
  line-height: 27px;
}

.lh-14 {
  line-height: 14px !important;
}

.lh-18 {
  line-height: 18px !important;
}

.fd-column {
  flex-direction: column;
}

.br-top--large {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.br-bottom--large {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.object-cover {
  object-fit: cover;
  object-position: center;
}

.border-0 {
  border: none !important;
}

.text-last-left {
  text-align-last: left !important;
}

@include breakpoint(large) {
  .desktop {
    display: block;
  }
}
