/*DINRoundPro*/
@font-face {
  font-family: 'DINRoundPro';
  src: url('../fonts/DINRoundPro/DINRoundPro-Medi.eot');
  src: local('../fonts/DINRoundPro/DINRoundPro-Medi'),
      url('../fonts/DINRoundPro/DINRoundPro-Medi.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DINRoundPro/DINRoundPro-Medi.woff2') format('woff2'),
      url('../fonts/DINRoundPro/DINRoundPro-Medi.woff') format('woff'),
      url('../fonts/DINRoundPro/DINRoundPro-Medi.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DINRoundPro';
  src: url('../fonts/DINRoundPro/DINRoundPro.eot');
  src: local('../fonts/DINRoundPro/DINRoundPro'),
      url('../fonts/DINRoundPro/DINRoundPro.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DINRoundPro/DINRoundPro.woff2') format('woff2'),
      url('../fonts/DINRoundPro/DINRoundPro.woff') format('woff'),
      url('../fonts/DINRoundPro/DINRoundPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINRoundPro';
  src: url('../fonts/DINRoundPro/DINRoundPro-Bold.eot');
  src: local('../fonts/DINRoundPro/DINRoundPro-Bold'),
      url('../fonts/DINRoundPro/DINRoundPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DINRoundPro/DINRoundPro-Bold.woff2') format('woff2'),
      url('../fonts/DINRoundPro/DINRoundPro-Bold.woff') format('woff'),
      url('../fonts/DINRoundPro/DINRoundPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINRoundPro';
  src: url('../fonts/DINRoundPro/DINRoundPro-Black.OTF');
  font-weight: 900;
  font-style: normal;
}

/*FestivoLetters*/
@font-face {
  font-family: 'FestivoLetters';
  src: url('../fonts/FestivoLetters/FestivoLetters.otf');
  font-weight: normal;
  font-style: normal;
}

