.c-section--access {
  padding-top: 0 !important;

  .c-mab-subcategory {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: all 0.5s;
    cursor: pointer;
    display: flex !important;
    justify-content: center;
    align-items: center;

    &:hover,
    &.enable {
      background: $warning-color;
    }
  }

  .c-role-card {
    span {
      padding: 2rem 1rem;
      width: 65%;
    }
  }

  .c-corner-card-image {
    position: initial !important;
    // height: 70px;
    height: 100%;
    border-radius: 65px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1rem;
    width: 35%;
    // border: 3px solid $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;

    img {
      width: 75% !important;
    }

    img.heart {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}

@include breakpoint(large) {
  .c-mab-subcategory {
    width: 130px;
    height: 130px;
  }

  .c-section--access {
    .c-nube {
      width: 180px;
      margin-bottom: 4rem;
    }

    .c-access-img {
      align-items: flex-end;
      justify-content: space-between;

      .c-nube {
        width: 180px;
        margin-top: 10rem;
      }

      .c-cohete {
        width: 80%;
      }
    }

    .c-corner-card-image {
      img.max {
        max-width: 72px;
      }

      img.heart {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}
