.c-section--access {
  padding-top: 0 !important;

  .c-mab-subcategory {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: all 0.5s;
    cursor: pointer;
    display: flex !important;
    justify-content: center;
    align-items: center;

    &:hover,
    &.enable {
      background: $warning-color;
    }
  }
}

@include breakpoint(large) {
  .c-mab-subcategory {
    width: 130px;
    height: 130px;
  }

  .c-section--access {
    .c-nube {
      width: 180px;
      margin-bottom: 4rem;
    }

    .c-access-img {
      align-items: flex-end;
      justify-content: space-between;

      .c-nube {
        width: 180px;
        margin-top: 10rem;
      }

      .c-cohete {
        width: 80%;
      }
    }
  }
}
