.c-section--course {
  background-image: url('../images/vectors/arrows/arrow-yellow-2.png'), url('../images/vectors/arrows/arrow-white-2.png');
  background-position: right 3rem, right 0.5rem;
  background-repeat: no-repeat;

  .c-title {
    text-transform: uppercase;
  }

  .c-unity {
    @include box-shadow(right, rgba($gray, 0.4), 0, 10px, 50px);

    padding: 1rem;

    &__title {
      text-transform: uppercase;

      .c-icon {
        @include transition(0.3s);
      }
    }

    &__topics {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      margin-top: 0;

      @include transition(0.4s);

      .c-topic .c-icon {
        width: 20px;
      }
    }
  }

  .c-unity.active {
    .c-unity__title {
      .c-icon {
        transform: rotateZ(-180deg);
      }
    }

    .c-unity__topics {
      margin-top: 1rem;
      overflow: visible;
      opacity: 1;
      max-height: 1000px;
    }
  }

  .c-topic {
    margin-bottom: 1.5rem;

    &__video {
      padding: 0.25rem 1rem;

      @include transition(0.25s);

      &:hover {
        background-color: $light-gray;
      }
    }
  }
}

@include breakpoint(large) {
  .c-section--course {
    .c-content {
      @include transition(0.3s);

      transition-delay: 0.3s;
    }

    .c-content.active {
      padding-left: 22rem;
    }
  }
}
