.c-section--courses {
  .c-banner {
    &__title {
      font-size: 60px;
    }
  }
}

@include breakpoint(large) {
  .c-section--courses {
    .c-banner {
      &__title {
        font-size: 67px;
        line-height: 60px;
      }
    }

    .c-mab-recommended {
      margin-top: 5rem;
    }

    .c-course-list {
      margin-bottom: 5rem;

      .cell {
        padding-bottom: 3rem;
      }

      &__content,
      .c-form-new {
        padding: 0 2rem;
      }
    }
  }
}
