.c-section--donaciones {
  .c-donacion-info {
    img {
      width: 45px;
      margin-right: 1rem;
    }

    li {
      margin-bottom: 0.5rem;
    }

    a {
      word-break: break-all;
      width: calc(100% - 100px);
    }
  }
}

@include breakpoint(large) {
  .c-section--donaciones {
    .c-split-layout {
      height: calc(100vh - 50px);
      min-height: auto;

      .large-7 {
        height: 100%;
      }
    }

    .c-donacion-info {
      img {
        width: 60px;
      }
    }

    .c-button {
      margin-top: 4rem;
    }
  }
}
