.c-section--donaciones {
  .c-donacion-info {
    img {
      width: 45px;
      margin-right: 1rem;
    }

    li {
      margin-bottom: 0.5rem;
    }

    a {
      word-break: break-all;
      width: calc(100% - 100px);
    }
  }

  .c-heart-title {
    font-size: 50px;
    line-height: 50px;

    img {
      right: -80px;
      top: -50px;
      width: 100px;
      display: none;
    }
  }

  .c-mab-modal {
    .c-mab-modal-content {
      padding: 2rem 3rem;
      max-width: 430px;
      margin: 0 auto;
    }
  }

  .br-red-box {
    border-radius: 50px;
    padding: 2.5rem 1.5rem;
    text-align: center;

    span {
      display: block;
      font-weight: 500;
    }
  }

  .two-btn {
    button,
    a {
      margin: 0 1rem;
    }
  }

  .d-inline {
    display: inline !important;
  }
}

@include breakpoint(large) {
  .c-section--donaciones {
    .c-split-layout {
      height: calc(100vh - 50px);
      min-height: auto;

      .large-7 {
        height: 100%;
      }
    }

    .c-donacion-info {
      img {
        width: 60px;
      }
    }

    .c-button {
      margin-top: 4rem;
    }

    .c-heart-title {
      img {
        display: inline-block;
      }
    }

    .mt-7 {
      margin-top: 7rem;
    }

    .br-red-box {
      border-radius: 70px;

      span {
        display: inline-block;
      }
    }

    .two-btn {
      button,
      a {
        margin: 0 0.5rem;
        width: 175px;
      }
    }
  }
}
