.c-section--emotional {
  .c-title {
    flex-wrap: wrap;

    &__label p {
      display: none;
    }
  }

  .c-banner {
    background-color: $secondary-color;

    @include transition(0.25s);

    &__content {
      @include transition(0.3s);
    }
  }

  .c-banner-video {
    border: solid 1rem $white;
    z-index: 5;

    &__play {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 50px;
      height: 50px;
      font-size: 3rem;
      color: $white;
      z-index: 10;
      opacity: 0;
      transform: scale(0.9);

      @include transition(0.3s);
    }

    &:hover {
      .c-banner-video__play {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .c-filter {
    &__option {
      label {
        border: solid 2px $primary-color;
        color: $primary-color;
      }
    }

    &__option input:checked + label {
      background-color: $primary-color;
      color: $white;
    }
  }

  @keyframes an-banner {
    from {
      max-height: 10000px;
    }

    to {
      max-height: 100px;
    }
  }
}

@include breakpoint(medium) {
  .c-section--emotional {
    .c-title {
      &__label p {
        display: block;
      }
    }

    .c-banner {
      margin-bottom: 4rem;
    }

    .c-banner.disabled {
      margin-bottom: 0;
    }
  }
}

@include breakpoint(large) {
  .c-section--emotional {
    outline: none;

    .c-banner-video {
      &::before {
        content: '';
        position: absolute;
        left: 5rem;
        bottom: -200px;
        height: 196px;
        width: 186px;
        background-image: url('../images/vectors/banner/arrow.png');
        background-repeat: no-repeat;
      }

      &::after {
        content: '';
        position: absolute;
        left: -4rem;
        bottom: -300px;
        height: 250px;
        width: 200px;
        background-size: contain;
        background-image: url('../images/vectors/banner/face-invert-v2.png');
        background-repeat: no-repeat;
      }
    }

    .c-filter {
      padding-top: 5rem;
    }
  }
}
