.c-section--emotional {
  .c-title {
    flex-wrap: wrap;

    &__label p {
      display: none;
    }
  }

  .c-banner {
    background-color: $secondary-alt;
    background-image: url('../images/vectors/banner/hand-left.png'), url('../images/vectors/banner/hand-right.png'), url('../images/vectors/banner/pencil.png');
    background-position: 1rem top, calc(100% - 1rem) top, center -2rem;
    background-repeat: no-repeat;

    @include transition(0.25s);

    &__content {
      @include transition(0.3s);
    }
  }

  .c-banner.disabled {
    background: transparent;
    animation: an-banner 0.8s forwards;

    .c-banner__content {
      visibility: hidden;
      opacity: 0;
    }

    .c-filter {
      &__label {
        color: $black;
      }

      &__toggle {
        color: $black;
      }
    }
  }

  .c-banner-video {
    height: 531px;

    &__play {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 50px;
      height: 50px;
      font-size: 3rem;
      color: $white;
      z-index: 10;
      opacity: 0;
      transform: scale(0.9);

      @include transition(0.3s);
    }

    &:hover {
      .c-banner-video__play {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .c-filter {
    &__label {
      color: $secondary-opacity;
    }

    &__toggle {
      color: $white;
    }

    &__clean {
      z-index: 200;

      @include transition(0.25s);

      &:hover {
        color: $primary-color;
      }
    }

    &__content {
      width: 15rem;
      height: auto;
      top: 0;
      right: 2rem;
      padding: 1rem;
      z-index: 100;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-10px);

      @include transition(0.3s);
      @include box-shadow(right, rgba($gray, 0.4), 0, 10px, 50px);
    }

    .c-option {
      display: flex !important;

      &__checkbox {
        border: solid 1px $dark;
        width: 17px;
        height: 17px;

        @include transition(0.3s);
      }

      &__checkbox::after {
        content: '';
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: $primary-color;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;

        @include transition(0.3s);
      }
    }

    .c-list {
      &__item input:checked + .c-option .c-option__checkbox {
        border-color: $primary-color;
      }

      &__item input:checked + .c-option .c-option__checkbox::after {
        opacity: 1;
      }
    }
  }

  .c-filter.active {
    .c-filter__content {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes an-banner {
    from {
      max-height: 10000px;
    }

    to {
      max-height: 100px;
    }
  }
}

@include breakpoint(medium) {
  .c-section--emotional {
    .c-title {
      &__label p {
        display: block;
      }
    }
  }
}

@include breakpoint(large) {
  .c-section--emotional {
    outline: none;

    .c-banner {
      background-position: center top, calc(50% + 10rem) top, calc(50% - 10rem) 1rem;
    }

    .c-filter {
      &__content {
        width: 18rem;
        padding: 2rem;
      }
    }
  }
}
