.c-extra-list {
  padding: 4rem 2rem;

  &__title {
    font-size: $fs-30;
    margin-bottom: 3rem;
  }

  &__message-container {
    padding: 3rem 2rem;
  }

  &__message {
    font-size: $fs-30;
    line-height: 35px;
  }

  &__autor {
    font-size: $fs-16;
    padding-top: 1rem;
  }

  &__logos {
    padding: 4rem 1rem 5rem;
  }

  &__logos-list {
    flex-wrap: wrap;
  }

  &__logos-icon {
    margin: 0 2rem 1rem;
    width: 30%;
  }

  .c-extra-block-title-img {
    height: 20px;
    margin: 0 5px 5px;
  }
}

.c-extra-block {
  margin-bottom: 3rem;

  &__info {
    opacity: 1;
  }

  &__figure {
    opacity: 1;
  }

  &--magenta {
    .c-extra-block__info {
      background: $magenta;
    }
  }

  &--cyan {
    .c-extra-block__info {
      background: $cyan;
    }
  }

  &--primary {
    .c-extra-block__info {
      background: $primary-color;
    }
  }

  &--warning {
    .c-extra-block__info {
      background: $warning-alt;
    }
  }

  &--white {
    .c-extra-block__info {
      background: $white;
    }
  }

  &--secondary {
    .c-extra-block__info {
      background: $secondary-color;
    }
  }

  .c-comment-corner {
    width: 80px;
    height: 80px;
    top: -1rem;
    left: -1rem;
  }

  .comment {
    padding: 5rem 2rem 3rem !important;
  }
}

@include breakpoint(large) {
  .c-extra-list {
    padding: 6rem 0;

    &__title {
      font-size: 55px;
      margin-bottom: 7rem;

      p {
        line-height: 58px;
      }
    }

    &__message-container {
      padding: 5rem 0 8rem;
      background-image: url('../images/blog/arcoiris.png');
      background-position: 105% 125%;
      background-size: auto 90%;
      background-repeat: no-repeat;
    }

    &__message {
      font-size: 50px;
      line-height: 48px;
    }

    &__autor {
      font-size: $fs-21;
      padding-top: 1rem;
    }

    &__logos {
      padding: 6rem 0;
    }

    &__logos-icon {
      margin: 0 1rem 1rem;
      width: 9%;
    }

    .c-extra-block-title-img {
      height: 33px;
      margin: 0 5px 8px;
    }
  }

  .c-extra-block:nth-child(even) {
    .c-extra-block__info {
      margin-right: -27%;
      padding: 3rem 35% 3rem 3rem !important;
    }

    .c-extra-block__info.comment {
      padding: 6rem 35% 5rem 3rem !important;
    }

    .c-extra-block__figure {
      .c-card-article {
        transform: rotate(5deg);
      }
    }
  }

  .c-extra-block:nth-child(odd) {
    .grid-x {
      flex-direction: row-reverse;
    }

    .c-extra-block__info {
      margin-left: -27%;
      padding: 3rem 3rem 3rem 35% !important;
      text-align: right;

      .c-box-round-btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
    }

    .c-extra-block__figure {
      .c-card-article {
        transform: rotate(-5deg);
      }
    }
  }

  .c-extra-block {
    padding: 0 5rem;
    margin-bottom: 6rem;

    &__info {
      h3 {
        line-height: 33px;
      }
    }

    .c-comment-corner {
      width: 140px;
      height: 120px;
      top: -60px;
      left: -60px;
    }
  }
}
