.c-section--forms {
  .c-form-box {
    &__input.valid,
    &__select.valid {
      box-shadow: #149b48 0 0 0 5px !important;
    }

    &__sender {
      position: relative;

      &:disabled {
        opacity: 0.6;
        cursor: no-drop;

        &::after {
          content: '';
          position: absolute;
          top: -0.5rem;
          left: 0;
          height: 4px;
          background-color: $primary-color;
          animation: an-submit-sending 1s infinite alternate;
        }
      }
    }

    &__error {
      border-left: solid 4px $primary-color;
      padding-left: 0.5rem;
      margin-top: 0.5rem;
    }

    &__toggle {
      bottom: 0.5rem;
      right: 1rem;
      z-index: 100;
      color: $dark;
      display: block;
      cursor: pointer;
    }

    .input_container {
      .c-form-box__input:nth-child(1) {
        width: 35%;
      }
    }

    @keyframes an-submit-sending {
      from {
        width: 0;
      }

      to {
        width: 100%;
      }
    }
  }
}

@include breakpoint(medium) {
  .c-section--forms {
    .c-form-box {
      .input_container {
        .c-form-box__input:nth-child(1) {
          width: 20%;
        }
      }
    }
  }
}

@include breakpoint(large) {
  .c-section--forms {
    .c-form-box {
      .input_container {
        .c-form-box__input:nth-child(1) {
          width: 15%;
        }
      }
    }
  }
}
