.c-section--home {
  .c-banner {
    &__logo {
      height: 70px;
    }

    &__title {
      line-height: 50px;
    }

    &__heart {
      display: none;
    }
  }

  .c-player {
    &__logo {
      // height: 200px
      height: 100px;
      width: 80%;
    }

    &__video {
      left: 6%;
      right: 0;
      top: 26%;
      margin: auto;
      width: 68.5%;
      height: 58%;
    }
  }

  .c-metodology {
    &__title p {
      line-height: 50px;
    }

    .c-card-advantage {
      // @include box-shadow(center, rgba($primary-dark, 0.9));
      @include box-shadow(center, rgba($black, 0.2));


      &__vector {
        height: 120px;
      }
    }
  }

  .c-testimony {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    &__content {
      padding: 2rem;
      padding-top: 4rem;
      padding-bottom: 2rem;

      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: -5px;
        left: 0;
        margin: auto;
        border-top: solid 50px transparent;
        border-left: solid 70px transparent;
        border-right: solid 70px transparent;
        border-bottom: solid 60px $white;
        transform: rotateZ(-30deg);
      }
    }

    &__avatar {
      // left: 0;
      left: calc(50% - 40px);
      top: 0;
      width: 80px;
      height: 80px;
      border-radius: 5000px;
      z-index: 100;
    }

    &__about {
      right: 0;
      bottom: 0;
      padding: 1rem;
      // width: 170px;
      // height: 170px;
      // border-radius: 5000px;
      
    }

    &__flag {
      width: 25px;
    }
  }

  .c-testimonies {
    .c-slider__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
      // box-shadow: #000 0 0 0 3px;
      background-color: $white !important;
    }
  }

  .c-brands {
    &__1,
    &__2,
    &__3,
    &__4 {
      img {
        width: 300px;
      }
    }

    &__mixing {
      display: none;
    }
  }

  .c-faq {
    &__left,
    &__right {
      display: none;
    }

    &__people {
      z-index: 3;
    }

    .c-accordion-item {
      &__content ul {
        list-style: url('../images/icons/check.png');
        padding-left: 1rem;
      }
    }
  }

  .c-international-brands {
    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }
}

@include breakpoint(medium) {
  .c-section--home {
    .c-banner {
      &__heart {
        display: block;
        bottom: -50px;
        right: 0;
        z-index: 100;
        height: 200px;
        transform: rotateZ(10deg);
      }
    }

    .c-metodology {
      .c-advantages {
        z-index: 5;

        &::before {
          content: "";
          position: absolute;
          width: 200px;
          height: 200px;
          background-image: url("../images/dots/pattern.png");
          background-size: contain;
          left: -80px;
          top: 0;
          z-index: -1;
          display: none;
        }
      }
    }

    .c-brands {
      &__2 {
        img {
          height: 250px;
        }
      }

      &__mixing {
        display: block;
        left: 0;
        right: 0;
        bottom: 90px;
        margin: auto;
        width: 200px;
      }
    }

    .c-faq {
      &__container {
        margin-bottom: -80px;
      }
      
      &__left,
      &__right {
        display: block;

        img {
          width: 450px;
        }
      }

      &__left.c-dots-background {
        &::before {
          right: 100px;
        }
      }
    }
  }
}

@include breakpoint(large) {
  .c-section--home {
    .c-player {
      padding: 1rem 0 2rem;

      &__logo {
        // height: 300px;
        height: auto;
        width: 100%;
      }
    }

    .c-metric {
      img {
        height: 400px;
      }

      &--left {
        right: -2%;
        top: -150px;
      }

      &--right {
        left: -2%;
        top: -380px;
        margin-bottom: -380px;
      }
    }

    .c-metodology {
      padding: 3rem 0;

      .c-advantages {
        p {
          line-height: 26px;
          // height: calc(100% - 80px);
          height: calc(100% - 130px);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .c-features {
      padding: 3rem 0;
    }

    .c-testimony {
      padding-right: 4rem;
      padding-bottom: 4rem;
      
      .quotes {
        width: 80px;
      }

      &__avatar {
        width: 110px;
        height: 110px;
        left: calc(50% - 70px);
      }

      &__content {
        padding-top: 6rem;

        &::before {
          bottom: -25px;
        }
      }
    }

    .c-lideres {
      padding: 5rem 0;
    }

    .c-brands {
      &__2 {
        img {
          height: 250px;
        }
      }
      
      &__3,
      &__4 {
        height: 280px !important;
      }

      &__mixing {
        // bottom: 40px;
        // width: 400px;

        bottom: 155px;
        width: 230px;
      }
    }

    .c-faq {
      padding: 5rem 0 0 ;

      &__container {
        margin-bottom: -200px;
      }

      &__left,
      &__right {
        img {
          width: 560px;
        }
      }
    }
  }
}
