.c-section--home {
  .c-banner {
    &__logo {
      height: 80px;
    }

    &__title {
      line-height: 50px;
    }

    &__heart {
      display: none;
    }
  }

  .c-player {
    &__logo {
      height: 200px;
    }

    &__video {
      left: -1.5%;
      right: 0;
      top: 4.5%;
      margin: auto;
      width: 90%;
      height: 65%;
    }
  }

  .c-metodology {
    &__title p {
      line-height: 50px;
    }

    .c-card-advantage {
      @include box-shadow(center, rgba($primary-dark, 0.9));

      &__vector {
        height: 70px;
      }
    }
  }

  .c-profile-card {
    &__vector {
      width: 150px;
      height: 150px;
      bottom: -40px;
      margin: auto;
    }

    &__content {
      img {
        filter: drop-shadow(0 10px 20px rgba($dark, 0.5));
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 10%);
      height: calc(100% - 40px);
      border-radius: 40px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    &--secondary {
      &::before {
        background-color: $secondary-color;
      }
    }

    &--warning {
      &::before {
        background-color: $warning-color;
      }
    }

    &--vector-right {
      .c-profile-card__vector {
        right: 0;
      }
    }

    &--vector-left {
      .c-profile-card__vector {
        left: 0;
      }
    }
  }

  .c-testimony {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    &__content {
      padding: 2rem;
      padding-top: 3rem;
      padding-bottom: 6rem;
    }

    &__avatar {
      left: 0;
      top: 0;
      width: 80px;
      height: 80px;
      border-radius: 5000px;
    }

    &__about {
      right: 0;
      bottom: 0;
      width: 150px;
      height: 150px;
      border-radius: 5000px;
    }

    &__flag {
      width: 25px;
    }
  }

  .c-brands {
    &__1,
    &__2,
    &__3,
    &__4 {
      img {
        width: 300px;
      }
    }

    &__mixing {
      display: none;
    }
  }

  .c-faq {
    &__left,
    &__right {
      display: none;
    }

    .c-accordion-item {
      &__content ul {
        list-style: url('../images/icons/check.png');
        padding-left: 1rem;
      }
    }
  }
}

@include breakpoint(medium) {
  .c-section--home {
    .c-banner {
      &__heart {
        display: block;
        bottom: -50px;
        right: 0;
        z-index: 100;
        height: 200px;
        transform: rotateZ(10deg);
      }
    }

    .c-metodology {
      .c-advantages {
        z-index: 5;

        &::before {
          content: "";
          position: absolute;
          width: 200px;
          height: 200px;
          background-image: url("../images/dots/pattern.png");
          background-size: contain;
          left: -80px;
          top: 0;
          z-index: -1;
        }
      }
    }

    .c-profile-card {
      &--vector-right {
        .c-profile-card__vector {
          transform: rotateZ(10deg);
          right: -40px;
        }
      }

      &--vector-left {
        .c-profile-card__vector {
          transform: rotateZ(-10deg);
          left: -40px;
        }
      }
    }

    .c-brands {
      &__2 {
        img {
          height: 250px;
        }
      }

      &__mixing {
        display: block;
        left: 0;
        right: 0;
        bottom: 90px;
        margin: auto;
        width: 200px;
      }
    }

    .c-faq {
      &__container {
        margin-bottom: -80px;
      }
      
      &__left,
      &__right {
        display: block;

        img {
          width: 450px;
        }
      }

      &__left.c-dots-background {
        &::before {
          right: 100px;
        }
      }
    }
  }
}

@include breakpoint(large) {
  .c-section--home {
    .c-player {
      &__logo {
        height: 300px;
      }
    }

    .c-metric {
      img {
        height: 400px;
      }

      &--left {
        right: -2%;
        top: -150px;
      }

      &--right {
        left: -2%;
        top: -380px;
        margin-bottom: -380px;
      }
    }

    .c-testimony {
      padding-right: 4rem;
      padding-bottom: 4rem;
    }

    .c-brands {
      &__2 {
        img {
          height: 250px;
        }
      }

      &__mixing {
        bottom: 80px;
        width: 250px;
      }
    }

    .c-faq {
      &__container {
        margin-bottom: -200px;
      }
    }
  }
}
