.c-section--mab-course {
  .c-banner {
    &__title {
      font-size: 40px;
      line-height: 30px;
    }

    .course-bg-figure {
      background: url(../images/vectors/bg-course.png);
      background-size: 100% auto;
      background-position: top center;
      background-repeat: no-repeat;
    }
  }

  .c-icon-course {
    width: 30px;
    display: inline-block;
  }
}

@include breakpoint(large) {
  .c-section--mab-course {
    .c-banner {
      &__title {
        font-size: 60px;
        line-height: 50px;
      }

      &__figure {
        width: 100%;
      }
    }

    .c-mab-modal {
      .c-mab-modal-content {
        &__title {
          font-size: $fs-30;
        }
      }
    }
  }
}
