.c-section--blog {
  outline: none;

  .c-blog {
    padding-top: 3rem;
    padding-bottom: 5rem;
    overflow: hidden;

    &__float-figure {
      display: none;
    }
  }
}

@include breakpoint(large) {
  .c-section--blog {
    outline: none;

    .c-blog {
      padding-bottom: 0;

      &__float-figure {
        display: block;
        width: 270px;
        height: 270px;

        &.f1 {
          top: 310px;
          right: -5rem;
        }

        &.f2 {
          top: 175px;
          left: -8rem;
          // transform: rotate(-8deg);
        }

        &.f3 {
          margin-top: -16rem;
          bottom: 0;
          right: 0;
          width: 50%;
          height: auto;
          margin-left: 50%;
        }

        &.f4 {
          top: 1420px;
          left: -8rem;
        }
      }
    }
  }
}
