.c-section--my-courses {
  .c-banner {
    &__title {
      font-size: 60px;
      line-height: 50px;
    }
  }

  .c-mab-resume {
    &__photo {
      display: none;
    }

    &__content {
      padding: 2rem;
    }
  }

  .c-lideres {
    &__content {
      // padding: 2rem 2rem 2rem;
      box-shadow: none;
    }

    .c-profile-card {
      &::before {
        height: calc(100% - 80px);
      }
    }
  }

  .c-other-services {
    padding: 1rem;

    &__content {
      padding: 2rem;
    }
  }

  .c-ws {
    padding: 1rem 2rem;
    max-width: 300px;
    margin-left: 2rem;
    margin-top: 4rem;
    transition: all 0.5s;
    border-radius: 50px;

    img {
      width: 70px;
      top: -2rem;
      left: -2rem;
    }

    &:hover {
      color: $white;
      background: $secondary-alt;
    }
  }
}

@include breakpoint(large) {
  .c-section--my-courses {
    .c-banner {
      &__title {
        font-size: 90px;
        line-height: 80px;
      }
    }

    .c-mab-resume {
      margin-top: 5rem;

      &__photo {
        display: block;
        height: 75%;
        bottom: 20%;
        right: -50px;
        transform: rotateZ(10deg);
      }

      &__content {
        padding: 2rem 0 2rem 5rem;
      }

      .principal-img {
        width: 85%;
        margin-right: 7rem;
      }
    }

    .c-mab-recommended {
      padding-top: 3rem;
    }

    .c-mab-slider {
      .swiper-slide {
        height: auto;
      }
    }

    .c-lideres {
      margin-top: 5rem;
      margin-bottom: 5rem;

      &__content {
        // padding: 3rem 5rem 2rem;
      }
    }

    .c-other-services {
      padding-bottom: 8rem !important;

      &__content {
        padding: 0;
        padding-bottom: 6rem !important;
      }

      &__title {
        padding-left: 5rem;
      }

      &__info {
        // padding-top: 3rem;
      }

      .swiper-slide {
        padding: 0 5rem 3rem;
        box-sizing: border-box;
      }

      .c-slider__pagination {
        // margin-top: -45px;
      }
    }

    .c-ws {
      margin-left: calc(50% - 150px);
      margin-top: -3rem;
    }
  }
}
