.c-section--nosotros {
  outline: none;

  .c-ceo {
    padding-top: 3rem;
    padding-bottom: 5rem;

    .c-ceo-bio {
      padding: 3rem 2rem;
      margin-bottom: 5rem;

      &__title {
        p {
          line-height: 35px;
        }
      }

      &__text {
        p {
          font-family: $font-family-secondary;
        }
      }

      .c-corner-heart {
        width: 126px;
        top: 81%;
        right: -2rem;
        transform: rotate(15deg);
      }
    }
  }
}

@include breakpoint(large) {
  .c-section--nosotros {
    outline: none;

    .c-ceo {
      padding-top: 5rem;

      .c-ceo-bio {
        padding: 4rem 5rem 3rem;
        margin-bottom: 8rem;

        &__title {
          padding-right: 10rem;
        }

        .c-card-article {
          margin-left: 7rem;
          margin-right: -4rem;
          margin-top: -5rem;
          transform: rotate(-9deg);

          &__figure {
            height: 330px;
          }
        }

        .c-card-article.to-bottom {
          margin-top: 0;
          margin-bottom: -4rem;
        }

        .c-corner-heart {
          width: 275px;
          top: 61%;

          &.to-left {
            left: -2rem;
          }
        }

        &__text {
          font-size: $fs-18;
        }
      }

      .c-ceo-bio--resume {
        .c-card-article {
          margin-left: -6rem !important;
          margin-right: 6rem !important;
          margin-top: -8rem;
          width: calc(370px + 2rem);
        }

        .c-card-article--float {
          transform: rotate(9deg);
          top: 45%;
          right: -2rem;
        }

        .c-ceo-bio__title,
        .c-ceo-bio__text {
          text-align: right;
          padding: 0 0 0 1rem;
        }
      }
    }
  }
}
