.c-section--nosotros {
  outline: none;

  .c-ceo {
    padding-top: 3rem;
    padding-bottom: 5rem;

    .c-ceo-bio {
      padding: 3rem 2rem;
      margin-bottom: 5rem;

      &__title {
        p {
          line-height: 54px;
        }
      }

      &__text {
        p {
          font-family: $font-family-secondary;
        }
      }

      .c-corner-heart {
        width: 126px;
        top: 81%;
        right: -2rem;
        // transform: rotate(15deg);
      }
    }
  }

  .c-hand {
    left: 1rem;
    bottom: 0;
    height: 55%;

    img {
      object-position: left;
    }
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }

  .c-us-comment {
    .c-us-comment__content::after {
      border-right: solid 50px $secondary-color;
    }
  }
}

@include breakpoint(large) {
  .c-section--nosotros {
    outline: none;

    .c-ceo {
      padding-top: 5rem;

      .c-ceo-bio {
        padding: 4rem 5rem 3rem;
        margin-bottom: 8rem;

        &__title {
          padding-right: 10rem;
        }

        .c-card-article {
          margin-left: 4rem;
          // margin-right: -4rem;
          // margin-top: -5rem;
          transform: rotate(9deg);

          &__figure {
            height: 330px;
          }
        }

        .c-card-article.to-bottom {
          margin-top: 0;
          margin-bottom: -4rem;
        }

        .c-corner-heart {
          width: 160px;
          top: 70%;

          &.to-left {
            left: -2rem;
            width: 250px;
            transform: rotate(-15deg);
          }
        }

        &__text {
          font-size: $fs-18;
        }
      }

      .c-ceo-bio--resume {
        .c-card-article {
          margin-left: -6rem !important;
          margin-right: 6rem !important;
          margin-top: -8rem;
          width: calc(370px + 2rem);
        }

        .c-card-article--float {
          transform: rotate(9deg);
          top: 45%;
          right: -2rem;
        }

        .c-ceo-bio__title,
        .c-ceo-bio__text {
          text-align: right;
          padding: 0 0 0 1rem;
        }
      }
    }

    .rotate-left {
      transform: rotate(-9deg) !important;
    }

    .big-photo {
      transform: rotate(-9deg) !important;
      margin-top: -4rem !important;
      margin-right: -4rem;

      .c-card-article__figure {
        height: auto !important;
      }
    }

    .c-ceo-bio.bg-cyan {
      margin-top: 14rem;
      padding: 0 5rem 0;
    }

    .c-us-comment {
      .c-img-corner {
        width: 9rem;
        right: -6rem;
        bottom: 2rem;
      }
    }

    .big-donut {
      width: 12rem !important;
    }
  }
}
