.c-section {
  outline: none;
  padding-top: 80px;

  &--home {
    padding-top: 0;
  }

  &--test,
  &--video,
  &--topic,
  &--login,
  &--solicitar-cursos {
    .c-content {
      padding: 1rem;
    }
  }

  &--video,
  &--topic {
    .c-details {
      flex-wrap: wrap;

      &__label p {
        display: none;
      }
    }

    .c-content {
      padding: 1rem;
    }
  }
}

@include breakpoint(medium) {
  .c-section {
    &--test,
    &--video,
    &--topic,
    &--login,
    &--solicitar-cursos {
      .c-content {
        padding: 2rem;
      }
    }
  }
}

@include breakpoint(large) {
  .c-section {
    outline: none;

    &--video,
    &--topic {
      .c-details {
        &__label p {
          display: block;
        }
      }
    }
  }
}
