.c-section {
  outline: none;
  padding-top: 80px;

  &--login,
  &--recovery-pass {
    .c-vector {
      width: 180px;
    }

    .error-message,
    .success-message {
      display: none;
    }

    .success-message {
      margin-top: 2rem;
    }

    .error-message.showed,
    .success-message.showed {
      display: block;
    }
  }

  &--home,
  &--session {
    padding-top: 0;
  }

  &--video,
  &--topic {
    .c-details {
      flex-wrap: wrap;

      &__label p {
        display: none;
      }
    }
  }

  &--test,
  &--progress {
    .c-title {
      width: text-content;
      line-height: 1.1;
      padding: 0.5rem 2rem;
      font-size: $fs-40;
    }
  }

  .c-content {
    &--protected {
      padding: 1rem;
    }
  }
}

@include breakpoint(medium) {
  .c-section {
    .c-content {
      &--protected {
        padding: 2rem;
      }
    }
  }
}

@include breakpoint(large) {
  .c-section {
    outline: none;

    &--video,
    &--topic {
      .c-details {
        &__label p {
          display: block;
        }
      }
    }

    &--test,
    &--progress {
      background-image: url('../images/vectors/courses/plant.png'), url('../images/vectors/courses/shower.png');
      background-position: left bottom, right 70px;
      background-repeat: no-repeat;

      .c-title {
        font-size: $fs-60;
      }
    }
  }
}
