.c-section--solicitar-id {
  .c-content {
    padding: 2rem;

    @include triangle(right, top, 3rem, -30px, 0);
  }

  .c-form {
    label p:first-child,
    label p:last-child {
      margin-bottom: 0 !important;
    }
  }

  .wpcf7-response-output {
    text-align: center;
    border: none !important;
    margin: 0 !important;
    color: $alert-color;
  }

  .wpcf7-response-output.wpcf7-mail-sent-ok {
    color: $secondary-color;
  }
}

@include breakpoint(large) {
  .c-section--solicitar-id {
    .c-content {
      padding: 3rem;
    }
  }
}
