.c-section--solicitar-cursos {
  .c-content {
    @include triangle(right, top, 3rem, -30px, 0);

    &::after {
      border-bottom-color: $secondary-color;
    }
  }

  .c-form {
    label p:first-child,
    label p:last-child {
      margin-bottom: 0 !important;
    }
  }

  .wpcf7-not-valid-tip {
    color: $white;
    font-weight: $medium-font;
    font-family: $font-family-secondary;
  }

  .wpcf7-response-output {
    text-align: center;
    border: none !important;
    margin: 0 !important;
    color: $white;
    font-size: $fs-18;
    font-weight: $medium-font;
    font-family: $font-family-secondary;
  }
}
