.c-section--test {
  .c-content {
    @include transition(0.3s);
  }

  .c-result {
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    position: absolute;

    @include transition(0.3s);

    &--done {
      position: static;
    }
  }

  .c-result.hidden {
    visibility: hidden;
    opacity: 0;
  }

  .c-test {
    &--done {
      position: absolute;
    }
  }

  .c-test.hidden {
    visibility: hidden;
    opacity: 0;
  }

  .c-behaviour {
    &__vector {
      width: 150px;
    }

    &__title {
      p:first-child {
        margin-bottom: 0;
        line-height: 1;
      }
    }
  }
}

@include breakpoint(medium) {
  .c-section--test {
    .c-behaviour {
      &__vector {
        width: 200px;
      }
    }
  }
}

@include breakpoint(large) {
  .c-section--test {
    .c-content {
      @include triangle(left, bottom, -70px, 3rem, 70px, 20px, 70px);
    }
  }
}
