.c-section--test {
  .c-content {
    @include transition(0.3s);
  }

  .c-content.hidden {
    visibility: hidden;
    opacity: 0;
  }

  .c-content.filled {
    height: 560px;
  }

  .c-result {
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;

    @include transition(0.3s);
  }

  .c-result.hidden {
    visibility: hidden;
    opacity: 0;
  }

  .c-behaviour {
    &__vector {
      width: 110px;
    }

    &__title {
      p:first-child {
        margin-bottom: 0;
      }
    }
  }
}

@include breakpoint(medium) {
  .c-section--test {
    .c-content.filled {
      height: 650px;
    }

    .c-behaviour {
      &__vector {
        width: 150px;
      }
    }
  }
}

@include breakpoint(large) {
  .c-section--test {
    .c-content {
      @include triangle(left, bottom, -70px, 3rem, 70px, 20px, 70px);
    }

    .c-content.filled {
      height: 450px;
    }
  }
}
