.c-section--test {
  background-image: none;

  .c-content {
    @include transition(0.3s);

    &::after {
      display: none;
    }
  }

  .c-result {
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    position: absolute;

    @include transition(0.3s);

    &--done {
      position: static;
    }

    &__list {
      padding: 2rem 1rem;
      margin-bottom: 4rem;
    }

    &__container {
      padding: 2rem;
    }

    &__title {
      padding-top: 2rem;
      font-size: 50px;
    }

    &__figure {
      position: absolute;
      width: 40%;
      top: -5rem;
      right: -2rem;
    }
  }

  .c-result.hidden {
    visibility: hidden;
    opacity: 0;
  }

  .c-test {
    &--done {
      position: absolute;
    }
  }

  .c-test.hidden {
    visibility: hidden;
    opacity: 0;
  }

  .c-behaviour {
    &__vector {
      width: 150px;
    }

    &__title {
      p:first-child {
        margin-bottom: 0;
        line-height: 1;
      }
    }
  }

  .c-bottom-btn {
    margin-bottom: 4rem;

    .c-button {
      width: 45%;
      font-size: $fs-18;
    }
  }

  .c-chart__graph {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

@include breakpoint(medium) {
  .c-section--test {
    .c-behaviour {
      &__vector {
        width: 200px;
      }
    }
  }
}

@include breakpoint(large) {
  .c-section--test {
    min-height: 100vh;

    .c-content {
      @include triangle(left, bottom, -70px, 3rem, 70px, 20px, 70px);
    }

    .c-bottom-btn {
      margin-bottom: 4rem;

      .c-button {
        width: 200px;
        font-size: $fs-21;
      }
    }

    .c-behaviour {
      &__vector {
        width: 150px;
      }
    }

    .c-result {
      &__list {
        margin-top: 2rem;
        padding: 2rem 5rem;
      }

      &__container {
        padding: 3rem;
      }

      &__title {
        font-size: 90px;
        padding-top: 3rem;
      }

      &__figure {
        width: 35%;
        top: -12rem;
        right: -7rem;
      }
    }
  }
}
