.c-section--topic {
  .c-title {
    p {
      &:first-child {
        margin-bottom: -1rem;
      }

      &:last-child {
        letter-spacing: 0.6rem;
      }
    }
  }

  .c-course {
    font-size: 60px;
  }

  .c-content {
    @include triangle(left, top, 10rem, -80px, 50px, 20px, 50px);

    &::after {
      opacity: 0;
    }

    &::before {
      content: '';
      width: calc(68px - 20px);
      height: calc(126px - 40px);
      position: absolute;
      top: calc(-126px + 40px);
      right: 0;
      background-size: contain;
      background-image: url('../images/vectors/topic/bolbs.png?key=20200413');
      background-repeat: no-repeat;
      display: none;
    }
  }

  .c-material {
    &__toggle {
      color: $black;
    }

    &__list {
      @include transition(0.3s);
      @include box-shadow(right, rgba($gray, 0.4), 0, 10px, 50px);

      top: 2rem;
      left: 0;
      width: 15rem;
    }

    &__list.hidden {
      visibility: hidden;
      opacity: 0;
      transform: translateY(10px);
    }

    &__item {
      margin-bottom: 0.5rem;
    }
  }

  .c-download {
    color: $secondary-alt;

    @include transition(0.25s);

    &:hover {
      color: $secondary-medium;
    }
  }

  .c-actions {
    flex-wrap: wrap;

    &__reactions {
      justify-content: center;
    }

    &__buttons {
      margin-top: 1rem;
    }
  }

  .c-questions-toggle {
    margin-top: 1rem;
    width: 100%;
  }

  .c-question {
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@include breakpoint(medium) {
  .c-section--topic {
    .c-content {
      &::before {
        width: 48px;
        height: 86px;
        top: -86px;
        right: 0;
      }
    }
  }
}

@include breakpoint(large) {
  .c-section--topic {
    .c-content {
      padding: 4rem 5rem;
    }

    .c-actions {
      &__reactions {
        justify-content: flex-start;
      }

      &__buttons {
        margin-top: 0;
      }
    }

    .c-questions-toggle {
      margin-top: 0;
      width: auto;
    }

    .c-modal--test {
      &::after {
        content: '';
        width: 200px;
        height: 200px;
        position: absolute;
        top: 40%;
        left: 0;
        background-size: contain;
        background-image: url('../images/vectors/topic/left-hand.png?key=20200420');
        background-repeat: no-repeat;
      }

      &::before {
        content: '';
        width: 200px;
        height: 200px;
        position: absolute;
        bottom: 10%;
        right: 0;
        background-size: contain;
        background-image: url('../images/vectors/topic/right-hand.png?key=20200420');
        background-repeat: no-repeat;
      }

      &__content {
        @include triangle(left, bottom, -70px, 3rem, 70px, 20px, 70px);
      }
    }
  }
}
