.c-section--topic {
  .c-title {
    p {
      &:first-child {
        margin-bottom: -1rem;
      }

      &:last-child {
        letter-spacing: 0.6rem;
      }
    }
  }

  .c-course {
    font-size: 60px;
  }

  .c-content {
    @include triangle(left, top, 10rem, -80px, 50px, 20px, 50px);

    &::before {
      content: '';
      width: calc(68px - 20px);
      height: calc(126px - 40px);
      position: absolute;
      top: calc(-126px + 40px);
      right: 0;
      background-size: contain;
      background-image: url('../images/vectors/topic/bolbs.png?key=20200413');
      background-repeat: no-repeat;
    }
  }

  .c-download {
    color: $secondary-alt;

    @include transition(0.25s);

    &:hover {
      color: $secondary-medium;
    }
  }

  .c-actions {
    flex-wrap: wrap;
  }

  .c-questions-toggle {
    margin-top: 1rem;
    width: 100%;
  }

  .c-questions {
    &__title {
      &::first-line {
        font-family: $font-family-secondary;
        font-weight: $regular-font;
        line-height: 0.8;
        font-size: $fs-40;
      }
    }

    &__list {
      .swiper-wrapper {
        align-items: center;
      }
    }

    &__change {
      width: 44px;
      height: 44px;

      @include transition(0.25s);

      &:disabled {
        background-color: $light-gray;
        color: $dark;
        cursor: no-drop;
      }
    }

    &__change.enable {
      background-color: $secondary-alt;
      color: $white;
    }

    &__result {
      visibility: hidden;
      opacity: 0;
      transform: translateX(-10px);

      @include transition(0.3s);

      .c-icon {
        width: 30px;
        height: 30px;
        border: solid 2px transparent;
      }

      &--right .c-icon {
        border-color: $success-color;
      }

      &--wrong .c-icon {
        border-color: $alert-color;
      }
    }

    &__result.showed {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }
  }

  .c-question {
    &__item {
      @include transition(0.25s);

      &:hover {
        background: $success-color;
        color: $white;
      }

      &:hover .c-option {
        color: $white;
      }

      &:hover .c-option__checkbox {
        border-color: $white;
      }
    }

    &__item input:checked + .c-option {
      background-color: $success-color;
      color: $white;
    }

    &__item input:checked + .c-option .c-option__checkbox {
      border-color: $white;
      background-color: $white;
    }

    .c-option {
      display: flex !important;
      padding: 0.5rem 0.5rem;
      margin: 0 0 !important;

      @include transition(0.25s);

      &__checkbox {
        border: solid 1px $dark;
        width: 17px;
        height: 17px;

        @include transition(0.25s);
      }
    }
  }
}

@include breakpoint(medium) {
  .c-section--topic {
    .c-content {
      &::before {
        width: 48px;
        height: 86px;
        top: -86px;
        right: 0;
      }
    }

    .c-questions-toggle {
      margin-top: 0;
      width: auto;
    }
  }
}

@include breakpoint(large) {
  .c-section--topic {
    .c-modal {
      &::after {
        content: '';
        width: 200px;
        height: 200px;
        position: absolute;
        top: 40%;
        left: 0;
        background-size: contain;
        background-image: url('../images/vectors/topic/left-hand.png');
        background-repeat: no-repeat;
      }

      &::before {
        content: '';
        width: 200px;
        height: 200px;
        position: absolute;
        bottom: 10%;
        right: 0;
        background-size: contain;
        background-image: url('../images/vectors/topic/right-hand.png');
        background-repeat: no-repeat;
      }

      &__content {
        @include triangle(left, bottom, -70px, 3rem, 70px, 20px, 70px);
      }
    }
  }
}
