.c-section--video {
  .c-category {
    background-color: $gray;
    color: $white;
    padding: 0.15rem 1rem;

    @include transition(0.25s);

    &:hover,
    &:focus {
      background-color: $secondary-alt;
    }
  }
}
