.c-section--video {
  .c-details {
    flex-wrap: wrap;

    &__label p {
      display: none;
    }
  }

  .c-category {
    background-color: $gray;
    color: $white;
    padding: 0.15rem 1rem;

    @include transition(0.25s);

    &:hover,
    &:focus {
      background-color: $secondary-alt;
    }
  }
}

@include breakpoint(medium) {
  .c-section--video {
    .c-details {
      &__label p {
        display: block;
      }
    }
  }
}
