.c-section--perfil {
  .c-banner {
    .c-edit-circle {
      bottom: -6rem;
    }

    &__title {
      span {
        font-size: 65px;
      }
    }
  }

  .c-user-info {
    &__icon {
      width: 180px;
      height: 180px;
      margin-left: calc(50% - 90px);
      margin-top: -6rem;

      img {
        border-radius: 50%;
      }
    }

    &__name {
      font-size: $fs-35;
      margin-top: 2rem;
    }

    &__share {
      margin-top: 2rem;
      text-align: center;
      width: 100%;
      color: $gray;
    }

    .c-edit-circle {
      margin-bottom: 1rem;
    }

    #avatar-file:disabled ~ .c-edit-circle {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .c-my-tests {
    &__figure {
      width: 200px;
      height: 200px;
      margin: 0 auto 2rem;

      img {
        border-radius: 50%;
      }
    }
  }

  .c-mab-modal {
    textarea {
      resize: none;
    }
  }

  .c-skills {
    &__title {
      .c-edit-circle {
        bottom: 0;
      }
    }

    .c-skills-list-item {
      justify-content: flex-start;

      img {
        width: 75px;
        position: relative;
        z-index: 555;
      }

      &__text {
        border-radius: 13px;
        margin-left: -1rem;
        width: 100%;
        padding: 1rem 1rem 1rem 2rem;
      }
    }

    .c-float-legend {
      span {
        display: inline-block;
        width: 30px;
        height: 30px;
      }

      .color-box {
        border-radius: 12px;
        width: 30px;
      }

      .color-circle {
        padding-left: 5px;
        border-radius: 50%;
      }
    }

    .c-skills-editor {
      margin-bottom: 2rem;

      &__title {
        font-size: $fs-25;
      }

      .c-skills-editor-list {
        .c-skills-editor-item {
          margin-bottom: 1rem;

          label {
            padding: 0.5rem 1rem;
            line-height: 17px;
          }
        }

        &--warning {
          input[type=checkbox]:checked ~ label {
            background: $warning-color;
          }
        }

        &--secondary {
          input[type=checkbox]:checked ~ label {
            background: $secondary-color;
            color: $white;
          }
        }
      }
    }
  }
}

@include breakpoint(large) {
  .c-section--perfil {
    .c-banner {
      .grid-x {
        flex-direction: row-reverse;
      }

      &__title {
        margin-left: 1.5rem;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        span {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      &__figure {
        width: 120%;
        margin-left: -10%;
      }
    }

    .c-user-info {
      &__icon {
        width: 245px;
        height: 245px;
        margin-left: calc(50% - 115px);
        margin-top: -4rem;
      }

      &__name {
        font-size: 40px;
      }

      &__share {
        position: absolute;
        top: 0;
        right: 3rem;
        width: auto;
        margin-top: 3.5rem;
      }
    }

    .c-skills {
      &__title {
        display: inline-block;
        padding-right: 5rem;
      }

      &__figure {
        margin: 0 auto;
        width: 90%;
      }

      .c-float-circle {
        width: 18%;
        height: 24%;
        border-radius: 50%;
        background: rgba($color: $warning-color, $alpha: 0.5);
        font-size: $fs-18;
        line-height: 21px;

        &.fc-1 {
          top: 7%;
          left: 20%;
        }

        &.fc-2 {
          top: 1%;
          left: 45%;
          height: 22%;
          width: 16%;
        }

        &.fc-3 {
          top: 26.5%;
          left: 40.5%;
          width: 15.5%;
          height: 20%;
        }

        &.fc-4 {
          top: 18.5%;
          left: 60%;
          width: 16%;
          height: 20.5%;
        }

        &.fc-5 {
          top: 24.5%;
          left: 78%;
          width: 20%;
          height: 25%;
        }
      }

      .c-float-box {
        width: 14%;
        height: 17%;
        border-radius: 20px;
        background: rgba($color: $secondary-color, $alpha: 0.5);
        font-size: $fs-18;
        line-height: 21px;

        &.fb-1 {
          top: 36.5%;
          left: 1.5%;
        }

        &.fb-2 {
          top: 36.5%;
          left: 23%;
        }

        &.fb-3 {
          top: 57.5%;
          left: 16%;
        }

        &.fb-4 {
          top: 43.5%;
          left: 60.5%;
        }

        &.fb-5 {
          top: 58%;
          left: 81%;
        }
      }

      .c-float-legend {
        top: 3rem;
        right: 1rem;

        span {
          width: 40px;
          height: 40px;
        }

        .color-box {
          width: 45px;
        }
      }

      .c-skills-editor {
        margin-bottom: 5rem;

        &__title {
          font-size: $fs-30;
        }

        .c-skills-editor-list {
          .c-skills-editor-item {
            // padding: 0.3rem;
            padding: 0 0 1rem;
            margin-bottom: 0;
            height: 100%;

            label {
              height: 100%;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
