.c-section--perfil {
  .c-banner {
    &__content {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    .c-edit-circle {
      bottom: -6rem;
    }

    &__title {
      span {
        font-size: 65px;
      }
    }

    .cell.margin-0 {
      margin: 0 auto !important;
    }
  }

  .c-user-info {
    &__icon {
      width: 180px;
      height: 180px;
      margin-left: calc(50% - 90px);
      margin-top: -6rem;

      img {
        border-radius: 50%;
      }
    }

    &__name {
      font-size: $fs-35;
      margin-top: 2rem;
    }

    &__share {
      margin-top: 2rem;
      text-align: center;
      width: 100%;
      color: $gray;
    }

    .c-edit-circle {
      margin-bottom: 1rem;
    }

    #avatar-file:disabled ~ .c-edit-circle {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .c-my-tests {
    &__figure {
      width: 200px;
      height: 200px;
      margin: 0 auto 2rem;

      img {
        border-radius: 50%;
      }
    }
  }

  .c-mab-modal {
    textarea {
      resize: none;
    }
  }

  .c-skills {
    &__title {
      .c-edit-circle {
        bottom: 0;
      }
    }

    .c-skills-list-item {
      justify-content: flex-start;

      img {
        width: 75px;
        position: relative;
        z-index: 555;
      }

      &__text {
        border-radius: 13px;
        margin-left: -1rem;
        width: 100%;
        padding: 1rem 1rem 1rem 2rem;
      }
    }

    .c-float-legend {
      span {
        display: inline-block;
        width: 30px;
        height: 30px;
      }

      .color-box {
        border-radius: 7px;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        width: 30px;
      }

      .color-circle {
        padding-left: 5px;
        border-radius: 50%;
      }
    }

    .c-skills-editor {
      margin-bottom: 2rem;

      &__title {
        font-size: $fs-25;
        color: $white;
      }

      .c-skills-editor-list {
        .c-skills-editor-item {
          margin-bottom: 1rem;

          label {
            padding: 0.5rem 1rem;
            line-height: 17px;
            background: $white;
          }
        }

        &--warning {
          input[type=checkbox]:checked ~ label {
            background: $warning-alt;
          }
        }

        &--secondary {
          input[type=checkbox]:checked ~ label {
            background: $cyan;
            color: $dark;
          }
        }
      }
    }

    .vertical-pd {
      padding: 3rem 1rem;
    }
  }
}

@include breakpoint(large) {
  .c-section--perfil {
    .c-banner {
      &__content {
        margin-top: 4rem;
        margin-bottom: 4rem;
      }

      .grid-x {
        flex-direction: row-reverse;
      }

      &__title {
        margin-left: 1.5rem;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        span {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      &__figure {
        // width: 120%;
        // margin-left: -10%;
      }

      .cell.margin-0 {
        margin: initial !important;
      }
    }

    .c-user-info {
      &__icon {
        width: 245px;
        height: 245px;
        margin-left: calc(50% - 115px);
        margin-top: -5rem;
      }

      &__name {
        font-size: 40px;
      }

      &__share {
        position: absolute;
        top: 0;
        right: 3rem;
        width: auto;
        margin-top: 3.5rem;
      }
    }

    .c-skills {
      &__title {
        display: inline-block;
        padding-right: 5rem;
      }

      &__figure {
        margin: 0 auto;
        width: 90%;
      }

      .c-float-circle {
        width: 18%;
        height: 24%;
        border-radius: 50%;
        // background: rgba($color: $warning-color, $alpha: 0.5);
        font-size: $fs-18;
        line-height: 21px;

        &.fc-1 {
          top: 1%;
          left: 20%;
        }

        &.fc-2 {
          top: 1.5%;
          left: 47.5%;
          height: 22%;
          width: 16%;
        }

        &.fc-3 {
          top: 25.5%;
          left: 44%;
          width: 15.5%;
          height: 20%;
        }

        &.fc-4 {
          top: 13.5%;
          left: 65.5%;
          width: 16%;
          height: 20.5%;
        }

        &.fc-5 {
          top: 24.5%;
          left: 82%;
          width: 17%;
          height: 23%;
        }
      }

      .c-float-box {
        width: 14%;
        height: 17%;
        border-radius: 20px;
        // background: rgba($color: $secondary-color, $alpha: 0.5);
        font-size: $fs-18;
        line-height: 21px;

        &.fb-1 {
          top: 29.5%;
          left: 1.5%;
        }

        &.fb-2 {
          top: 29.5%;
          left: 24%;
        }

        &.fb-3 {
          top: 54.5%;
          left: 18%;
        }

        &.fb-4 {
          top: 42.5%;
          left: 60.5%;
        }

        &.fb-5 {
          top: 55%;
          left: 84%;
        }
      }

      .c-float-legend {
        top: 3rem;
        right: 1rem;
        background: $light-gray;
        display: inline-block;
        border-radius: 80px;
        padding: 1.5rem 3rem 0.8rem;

        span {
          width: 35px;
          height: 35px;
        }

        .color-box {
          width: 35px;
        }
      }

      .c-skills-editor {
        &__title {
          font-size: $fs-30;
        }

        .c-skills-editor-list {
          .c-skills-editor-item {
            // padding: 0.3rem;
            padding: 0 0 1rem;
            margin-bottom: 0;
            height: 100%;

            label {
              height: 100%;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      .vertical-pd {
        padding: 7rem 0;

        .c-button {
          margin-top: 3rem;
          width: 200px;
          text-align: center;
        }
      }
    }

    .center-title {
      text-align: center;
      padding-left: 5rem;
    }
  }
}
