{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--extra-list bg-cyan">
    <div class="c-extra-list">
      <div class="grid-container">
        <h2 class="c-extra-list__title dark text-uppercase text-center">
          <p>¿Cómo llegamos a ti?</p>
        </h2>

        <div>
          <div class="c-extra-block c-extra-block--magenta">
              <div class="grid-x align-middle align-center">
                <div class="cell large-7">
                  <div class="c-extra-block__info br-bottom-0-0 br--large padding-2">
                    <h3 class="dark">MAB Sede</h3>
                    <p class="dark f2">Nuestra sede fue creada para generar un
                      contexto de confianza, de libertad y de
                      creatividad, donde se forma un proceso de
                      co-creación entre nuestros tutores y los
                      estudiantes, padres de familia y psicólogos.</p>
                    
                  </div>
                </div>
                <div class="cell large-5">
                  <figure class="c-extra-block__figure">
                    <div class="c-card-article bg-white mab-shadow-soft">
                      <figure class="c-card-article__figure margin-bottom-1">
                        <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/llegamos/1.png" alt="">
                      </figure>
                      <div class="c-card-article__content">
                      </div>
                    </div>
                  </figure>
                </div>
              </div>
          </div>
          <div class="c-extra-block c-extra-block--primary">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="dark">MAB Online</h3>
                  <p class="dark f2">Clases virtuales en tiempo real donde los
                    estudiantes se conectan con sus coaches a
                    través de plataformas virtuales de video como
                    lo son Zoom y Meet. Con MAB Online estamos
                    logrando llegar tanto a diferentes partes del
                    Perú, como a otros países.</p>
                  
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/llegamos/2.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--warning">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="dark">APRENDE MAB</h3>
                  <p class="dark f2">Nuestra plataforma online holística donde
                    encontrarás más de 20 mil piezas educativas en
                    diferentes áreas: académica, emocional y creativa.
                    Con MAB Click llegamos a todo el Perú, tanto a
                    zonas urbanas como rurales, y a más de 45 países.
                    <p>
                  
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/llegamos/3.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--magenta">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="dark">MAB Go</h3>
                  <p class="dark f2">Vamos donde tú estes. Con MAB Go vamos a las
                    casas de nuestros estudiantes, en más de 10
                    distritos de Lima. Además, llevamos nuestros
                    servicios a empresas, colegios, institutos, nidos,
                    comunidades, entre otros.</p>
                  
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/llegamos/4.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-extra-list__message-container bg-white">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell large-7">
            <h3 class="c-extra-list__message dark">
                “Nuestros programas buscan
                fortalecer nuestra comunidad,
                <span class="pri-color">llevando la esencia MAB</span>
                a diferentes lugares.”
            </h3>
            <h4 class="c-extra-list__autor f2 dark">MACARENA ARRIBAS, FUNDADORA MAB</h4>
          </div>
        </div>
      </div>
        
    </div>
  </section>
{% endblock %}
