{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--courses">
    <div class="c-banner bg-sec-color mab-shadow">
      <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y align-middle align-self-stretch">
          <div class="cell large-5">
            <div class="padding-vertical-3"> 
              <h1 class="c-banner__title warning">
                <span class="white text-uppercase">tenemos más de <span class="warning">400</span>
                  cursos y <br> <span class="warning">30 000</span>
                  piezas
                  educativas</span><br>
              </h1> 
            </div>
          </div> 
          <div class="cell large-7 margin-bottom-0">
            <div class="position-relative flex-container align-center">
              <img src="{{ theme.link }}/static/images/courses/banner.png" alt="" class="of--contain"> 
              <img src="{{ theme.link }}/static/images/home/heart.png" alt="" class="c-banner__heart position-absolute of--contain">
            </div>
          </div>
        </div>
      </div>
    </div>

    <template v-if="logedUser && !metas.get('subcategory')">
      <div class="c-mab-recommended padding-top-2">
        <div class="grid-container padding-vertical-3">
          <h2>
            <p class="dark fs-50 lh-40 margin-bottom-0">recomendaciones para ti</p>
          </h2>
  
          <div v-if="isLoadingRecommended">
            <div class="c-loader c-loader--full active">
              <div class="container height-100 flex-container align-center-middle">
                <div class="loader">
                  {% for item in [1,2,3,4,5] %}              
                    <div class="loader--dot"></div>
                  {% endfor %}       
                </div>
              </div>
            </div>
          </div>
  
          <div v-if="recommendCourses.length" class="c-mab-slider c-mab-slider--side-shadow position-relative"  :class="{'opacity-0' : isLoadingRecommended}">
            <div class="c-arrow-next swiper-button-next position-absolute flex-container align-center-middle">
              next
            </div>
            <div class="c-arrow-prev swiper-button-prev position-absolute flex-container align-center-middle">
              prev
            </div>
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div v-for="course of recommendCourses" :key="course.id" class="swiper-slide padding-vertical-2">
                  <div class="c-course-card br--large" :class="'c-course-card--' + course.color">
                    <figure class="c-course-card__figure ">
                      <img :src="(course.thumbnail) ? course.thumbnail : courseBasicThumbnail" alt="" class="of--cover br-top--large width-100 height-100"> 
                    </figure>
                    <div class="c-course-card__content flex-container fd-column padding-1 br--large">
                      <div>
                        <div class="c-course-card__titles">
                          <p class="c-course-card__name w-xbold fs-18 f2 margin-0">${ course.name }</p>
                          <p class="c-course-card__teacher fs-16 f2">Con ${ (course.teacher) ? course.teacher : '"Sin docente"' }</p>
                        </div>
                        <p class="c-course-card__description fs-16 f2 lh-18">${ course.description }</p>
                      </div>
                      <div class="grid-x align-middle">
                        <div class="small-5 medium-5">
                          <span class="c-course-card__likes f2"><i class="fas fa-heart mr-05"></i>${ course.likes }</span>
                        </div>
                        <div class="small-7 medium-7 text-right">
                          <span v-if="course.enroll">Inscrito</span>
                          <button v-else-if="Number(course.price) > 0" @click="addCourse(course.id, course.name, course.link)" class="c-button c-button--mab-warning-black lh-14 f2 w-xbold">
                            S/ ${ Number(course.price).toFixed(2) } 
                            <i class="fas fa-shopping-cart"></i>
                          </button>
                          <span v-else>¡Grátis!</span>
                        </div>
                      </div>
                    </div>
                    <a :href="course.link" class="c-course-card__footer text-uppercase white fs-18 text-center bg-dark br-bottom--large display-block">
                      ¡comenzar curso!
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div v-else-if="!isLoadingRecommended">
            <p class="margin-bottom-0 text-center f2 dark fs-21">Aún sin cursos, inscríbete en alguno.</p>
          </div>
        </div>
      </div>

      <div class="c-category-list">
        <div class="grid-container">
          <h2>
            <p class="dark fs-50 lh-40 margin-bottom-0">categorías</p>
          </h2>
  
          <div v-if="isLoadingCategories">
            <div class="c-loader c-loader--full active">
              <div class="container height-100 flex-container align-center-middle">
                <div class="loader">
                  {% for item in [1,2,3,4,5] %}              
                    <div class="loader--dot"></div>
                  {% endfor %}       
                </div>
              </div>
            </div>
          </div>
  
          <div v-if="categories.length" class="c-mab-slider c-mab-slider--side-shadow position-relative" :class="{'opacity-0' : isLoadingCategories}">
            <div class="c-arrow-next swiper-button-next position-absolute flex-container align-center-middle">
              next
            </div>
            <div class="c-arrow-prev swiper-button-prev position-absolute flex-container align-center-middle">
              prev
            </div>
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div v-for="category of categories" :key="category.id" class="swiper-slide padding-vertical-2">
                  <input @change="getCourses('category')" v-model="filter.category" :id="'category-' + category.id" type="radio" :value="category.id" class="hide">
                  <label
                    :for="'category-' + category.id"
                    class="c-mab-category mab-shadow"
                    :class="['c-mab-category--' + category.color, (filter.category == category.id) ? 'active' : '']">
                    <figure class="c-mab-category__img position-relative">
                      <img class="width-100 height-100 object-cover" loading="lazy" :src="(category.thumbnail) ? category.thumbnail.url : ''" alt="">
                      <div class="c-mab-category__gradient position-absolute width-100 height-100"></div>
                    </figure>
                    <figcaption class="c-mab-category__shade width-100 text-center flex-container white">
                      <div class="c-mab-category__text flex-container align-center-middle width-100">${ category.name }</div>
                    </figcaption>
                  </label>
                </div>
              </div>
            </div>
          </div>
  
          <div v-else-if="!isLoadingCategories">
            <p class="margin-bottom-0 text-center f2 dark fs-21">Aún sin categorías.</p>
          </div>
        </div>
      </div>
    </template>
    <div v-else-if="logedUser" class="grid-container">
      <section class="padding-top-3">
        <a href="{{ site.url }}/cursos" class="c-link c-link--secondary fs-21 w-bold f2">
          <i class="fas fa-arrow-left"></i>
          <span class="margin-left-1">Volver</span>
        </a>
      </section>
    </div>

    <div class="c-course-list padding-vertical-3">
      <div class="grid-container">
        <h2>
          <p class="dark fs-50 lh-40 margin-bottom-3">CURSOS</p>
        </h2>

        <div class="c-form-new margin-bottom-2">
          <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell medium-6 large-3">
              <div class="c-form-new__input-container margin-bottom-1">
                <label class="w-bold dark" for="">Nivel</label>
                <select v-model="filter.level" @change="getCourses('level')" class="f2 mab-shadow-soft text-last-left">
                  <option disabled value="-1">Escoge un opción</option>
                  <option v-for="level of levels" :key="level.id" :value="level.slug">${ level.name }</option>
                </select>
              </div>
            </div>
            <div class="cell medium-6 large-3">
              <div class="c-form-new__input-container margin-bottom-1">
                <label class="w-bold dark" for="">Grado</label>
                <select v-model="filter.grade" @change="getCourses('grade')" class="f2 mab-shadow-soft text-last-left">
                  <option disabled value="-1">Escoge un opción</option>
                  <option v-for="grade of grades" :key="grade.id" :value="grade.slug">${ grade.name }</option>
                </select>
              </div>
            </div>
            <div class="cell large-3">
            </div>
            <div class="cell medium-6 large-3">
              <div class="c-form-new__input-container margin-bottom-1">
                <label class="w-bold f2 white desktop" for="">Buscar</label>
                <div class="c-fake-input c-fake-input--tel flex-container align-middle mab-shadow-soft">
                  <input v-model="filter.search" type="text" placeholder="Buscar Curso" />
                  <button :disabled="!filter.search" @click="getCourses('search')" class="c-fake-input__prefix border-0">
                    <i class="far fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="c-course-list__content">
          <div v-if="isLoadingCourses && !courses.length">
            <div class="c-loader c-loader--full active">
              <div class="container height-100 flex-container align-center-middle">
                <div class="loader">
                  {% for item in [1,2,3,4,5] %}              
                    <div class="loader--dot"></div>
                  {% endfor %}       
                </div>
              </div>
            </div>
          </div>

          <div v-if="courses.length" class="grid-x grid-margin-x grid-margin-y">
            <div v-for="course of courses" :key="course.id" class="cell medium-6 large-3">
              <div class="c-course-card br--large" :class="'c-course-card--' + course.color">
                <figure class="c-course-card__figure ">
                  <img :src="(course.thumbnail) ? course.thumbnail : courseBasicThumbnail" alt="" class="of--cover br-top--large width-100 height-100"> 
                </figure>
                <div class="c-course-card__content flex-container fd-column padding-1 br--large">
                  <div>
                    <div class="c-course-card__titles">
                      <p class="c-course-card__name w-xbold fs-18 f2 margin-0">${ course.name }</p>
                      <p class="c-course-card__teacher fs-16 f2">Con ${ (course.teacher) ? course.teacher : '"Sin docente"' }</p>
                    </div>
                    <p class="c-course-card__description fs-16 f2 lh-18">${ course.description }</p>
                  </div>
                  <div class="grid-x align-middle">
                    <div class="small-5 medium-5">
                      <span class="c-course-card__likes f2"><i class="fas fa-heart mr-05"></i>${ course.likes }</span>
                    </div>
                    <div class="small-7 medium-7 text-right">
                      <span v-if="course.enroll">Inscrito</span>
                      <button v-else-if="Number(course.price) > 0" @click="addCourse(course.id, course.name, course.link)" class="c-button c-button--mab-warning-black lh-14 f2 w-xbold">
                        S/ ${ Number(course.price).toFixed(2) } 
                        <i class="fas fa-shopping-cart"></i>
                      </button>
                      <span v-else>¡Grátis!</span>
                    </div>
                  </div>
                </div>
                <a :href="course.link" class="c-course-card__footer text-uppercase white fs-18 text-center bg-dark br-bottom--large display-block">
                  ¡comenzar curso!
                </a>
              </div>
            </div>
            <div v-if="hasPagination" class="cell text-center">
              <button :disabled="isLoadingCourses" @click="getCourses()" class="c-button c-button--primary f2 w-sbold display-inline-block">
                ${ (isLoadingCourses) ? 'Cargando...' : 'Cargar más cursos' }
              </button>
            </div>
          </div>

          <div v-else-if="!isLoadingCourses">
            <p class="margin-bottom-0 text-center f2 dark fs-21">Aún sin cursos, inscríbete en alguno.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
