<header class="c-header c-header--mclick" :class="{ shadowed : isHeaderWithShadow }">
  <div class="grid-container padding-vertical-1">
    <div class="flex-container align-left">
      <a href="{{site.url}}" class="c-goback flex-container align-middle pri-color">
        <span class="margin-right-1 fs-21"><i class="far fa-arrow-left"></i></span>
        <p class="margin-bottom-0 f2 fs-25 w-bold">INICIO</p>
      </a>
    </div>
  </div>
</header>
