<!doctype html>
<html lang="es">

  {% include '_html-head.twig' %}

  <body class="{% if post.post_type == 'course' %} bg-pri-alt {% endif %}">
    <main class="c-main position-relative overflow-hidden" id="app" data-site="{{site.url}}">
      {# <div class="c-page-loader width-100 height-100 position-absolute bg-white" :class="{ hide : isLoadedPage }" style="z-index: 9000">

      </div> #}
      {% block hero %}
        {# Content #}
      {% endblock %}
      
      <div v-if="sectors[0]" class="c-cursos bg-sec-color position-fixed" :class="{ active : isActivePubSectorMenu }">
        <h2 class="c-cursos__title margin-bottom-1 w-black white">PUBLICO</h2>
        <ul class="c-cursos__list ul-reset">
          <li v-for="grade of sectors[0].children" class="c-cursos__item fs-18 f2">
            <a class="display-block" @click="defineGrade({type: 'pub', name: grade.name})">${grade.name.replace('Pub','')}</a>
          </li>
        </ul>
      </div>

      <div v-if="pubGrade" class="c-cursos bg-sec-color position-fixed" :class="{ active : isActivePubGradoMenu }">
        <h2 class="c-cursos__title margin-bottom-1 w-black white">${pubGrade.name.replace('Pub','')}</h2>
        <ul class="c-cursos__list ul-reset">
          <li class="c-cursos__item fs-18 f2">
            <a class="flex-container align-middle" @click="updateStatusPubGradoMenu">
              <span class="c-icon margin-right-1"><i class="far fa-arrow-left"></i></span>
              Volver
            </a>
          </li>

          <li v-for="course of pubGrade.children" class="c-cursos__item fs-18 f2">
            <a :href="course.url" class="display-block">${course.name}</a>
          </li>
        </ul>
      </div>
      
      <div v-if="sectors[1]" class="c-cursos bg-sec-color position-fixed" :class="{ active : isActivePrivSectorMenu }">
        <h2 class="c-cursos__title margin-bottom-1 w-black white">PRIVADO</h2>
        <ul class="c-cursos__list ul-reset">
          <li v-for="grade of sectors[1].children" class="c-cursos__item fs-18 f2">
            <a class="display-block" @click="defineGrade({type: 'priv', name: grade.name})">${grade.name.replace('Priv','')}</a>
          </li>
        </ul>
      </div>

      <div v-if="privGrade" class="c-cursos bg-sec-color position-fixed" :class="{ active : isActivePrivGradoMenu }">
        <h2 class="c-cursos__title c-cursos__title--grade margin-bottom-1 w-black white">${privGrade.name.replace('Priv','')}</h2>
        <ul class="c-cursos__list ul-reset">
          <li class="c-cursos__item fs-18 f2">
            <a class="flex-container align-middle" @click="updateStatusPrivGradoMenu">
              <span class="c-icon margin-right-1"><i class="far fa-arrow-left"></i></span>
              Volver
            </a>
          </li>

          <li v-for="course of privGrade.children" class="c-cursos__item fs-18 f2">
            <a :href="course.url" class="display-block">${course.name}</a>
          </li>
        </ul>
      </div>

      {% block content %}
        {# Content #}
      {% endblock %}

      {% block footer %}
        {% include "_html-footer.twig" %}
        
        {# Content #}
      {% endblock %}      
    </main>

    {{ function('wp_footer') }}
  </body>
</html>
