<!doctype html>
<html lang="es">

  {% include '_html-head.twig' %}

  <body>
    <main class="c-main position-relative" id="app" data-site="{{site.url}}">
      {% block hero %}
        {# Content #}
      {% endblock %}
      
      <div class="c-cursos bg-white" :class="{ active : isActiveCursosMenuDesk }">
        <ul class="c-cursos__list ul-reset">
          {% for item in primary_menu.items %}
            {% if item.slug == "cursos" %}
              {% for course in item.children %}
                <li class="c-cursos__item fs-25 f2 {% if post.slug == course.slug %} active {% endif %}">
                  <a href="{{course.link}}" class="display-block">{{course.title}}</a>
                </li>
              {% endfor %}
            {% endif %}          
          {% endfor %}
        </ul>
      </div>  

      {% block content %}
        {# Content #}
      {% endblock %}

      {% block footer %}
        {% include "_html-footer.twig" %}
        
        {# Content #}
      {% endblock %}      
    </main>

    {{ function('wp_footer') }}
  </body>
</html>
