<!doctype html>
<html lang="es">
  <head>
    {% include '_html-head.twig' %}

    {% block metas %}
      {% include "_html-seo.twig" %}
      
      {# content #}
    {% endblock %}
  </head>

  <body class="{% if post.post_type == 'course' or post.slug == 'carrito' or post.slug == 'compra-exitosa' %} bg-pri-alt {% endif %}">
    <main class="c-main position-relative overflow-hidden" id="app" data-site="{{site.url}}" data-theme="{{theme.link}}">
      <div class="c-page-loader width-100 height-100 position-fixed bg-white flex-container align-center-middle" :class="{ hidden : isLoadedPage }" style="z-index: 9000">
        <div class="c-loader c-loader--full active">
          <div class="container height-100 flex-container align-center-middle">
            <div class="loader">
              {% for item in [1,2,3,4,5] %}              
                <div class="loader--dot"></div>
              {% endfor %}       
            </div>
          </div>
        </div>        
      </div>

      {% block hero %}
        {# Content #}
      {% endblock %}
      
      <div v-if="sectors[0]" class="c-cursos bg-sec-color position-fixed" :class="{ active : isActivePubSectorMenu }">
        <h2 v-if="logedUser" class="c-cursos__title margin-bottom-1 w-black white">MAB ACADÉMICO</h2>
        <h2 v-else class="c-cursos__title margin-bottom-1 w-black white">PÚBLICO</h2>
        <ul v-if="logedUser" class="c-cursos__list ul-reset">
          <li v-if="logedUser.user_sector == 'publico'" v-for="grade of sectors[0].children" class="c-cursos__item fs-18 f2">
            <a class="display-block" @click="defineGrade({type: 'pub', name: grade.name})">${grade.name.replace('Pub','')}</a>
          </li>
        </ul>
        <ul v-else class="c-cursos__list ul-reset">
          <li v-for="grade of sectors[0].children" class="c-cursos__item fs-18 f2">
            <a class="display-block" @click="defineGrade({type: 'pub', name: grade.name})">${grade.name.replace('Pub','')}</a>
          </li>
        </ul>
      </div>

      <div v-if="pubGrade" class="c-cursos bg-sec-color position-fixed" :class="{ active : isActivePubGradoMenu }">
        <h2 class="c-cursos__title c-cursos__title--grade margin-bottom-1 w-black white">${pubGrade.name.replace('Pub','')}</h2>
        <ul v-if="logedUser" class="c-cursos__list ul-reset">
          <li class="c-cursos__item fs-18 f2">
            <a class="flex-container align-middle" @click="updateStatusPubGradoMenu">
              <span class="c-icon margin-right-1"><i class="far fa-arrow-left"></i></span>
              Volver
            </a>
          </li>

          <li v-if="logedUser.user_sector == 'publico'" v-for="course of pubGrade.children" class="c-cursos__item fs-18 f2">
            <a :href="course.url + '?sector=publico'" class="display-block">${course.name}</a>
          </li>
        </ul>
        <ul v-else class="c-cursos__list ul-reset">
          <li class="c-cursos__item fs-18 f2">
            <a class="flex-container align-middle" @click="updateStatusPubGradoMenu">
              <span class="c-icon margin-right-1"><i class="far fa-arrow-left"></i></span>
              Volver
            </a>
          </li>

          <li v-for="course of pubGrade.children" class="c-cursos__item fs-18 f2">
            <a :href="course.url + '?sector=publico'" class="display-block">${course.name}</a>
          </li>
        </ul>
      </div>
      
      <div v-if="sectors[1]" class="c-cursos bg-sec-color position-fixed" :class="{ active : isActivePrivSectorMenu }">
        <h2 v-if="logedUser" class="c-cursos__title margin-bottom-1 w-black white">MAB ACADÉMICO</h2>
        <h2 v-else class="c-cursos__title margin-bottom-1 w-black white">PRIVADO</h2>
        <ul v-if="logedUser" class="c-cursos__list ul-reset">
          <li v-if="logedUser.user_sector == 'privado'" v-for="grade of sectors[1].children" class="c-cursos__item fs-18 f2">
            <a class="display-block" @click="defineGrade({type: 'priv', name: grade.name})">${grade.name.replace('Priv','')}</a>
          </li>
        </ul>
        <ul v-else class="c-cursos__list ul-reset">
          <li v-for="grade of sectors[1].children" class="c-cursos__item fs-18 f2">
            <a class="display-block" @click="defineGrade({type: 'priv', name: grade.name})">${grade.name.replace('Priv','')}</a>
          </li>
        </ul>
      </div>

      <div v-if="privGrade" class="c-cursos bg-sec-color position-fixed" :class="{ active : isActivePrivGradoMenu }">
        <h2 class="c-cursos__title c-cursos__title--grade margin-bottom-1 w-black white">${privGrade.name.replace('Priv','')}</h2>
        <ul v-if="logedUser" class="c-cursos__list ul-reset">
          <li class="c-cursos__item fs-18 f2">
            <a class="flex-container align-middle" @click="updateStatusPrivGradoMenu">
              <span class="c-icon margin-right-1"><i class="far fa-arrow-left"></i></span>
              Volver
            </a>
          </li>

          <li v-if="logedUser.user_sector = 'privado'" v-for="course of privGrade.children" class="c-cursos__item fs-18 f2">
            <a :href="course.url + '?sector=privado'" class="display-block">${course.name}</a>
          </li>
        </ul>
        <ul v-else class="c-cursos__list ul-reset">
          <li class="c-cursos__item fs-18 f2">
            <a class="flex-container align-middle" @click="updateStatusPrivGradoMenu">
              <span class="c-icon margin-right-1"><i class="far fa-arrow-left"></i></span>
              Volver
            </a>
          </li>

          <li v-for="course of privGrade.children" class="c-cursos__item fs-18 f2">
            <a :href="course.url + '?sector=privado'" class="display-block">${course.name}</a>
          </li>
        </ul>
      </div>

      <!-- Modal: Cuestionario de seguimiento -->
      <questionary-student v-if="logedUser && isEnableQuestionary && logedUser.user_rol == 'student' && !logedUser.user_metas.questionary"></questionary-student>  
      <questionary-tutor v-else-if="logedUser && isEnableQuestionary && logedUser.user_rol == 'tutor' && !logedUser.user_metas.questionary"></questionary-tutor>  
      
      <!-- Modal: Encuesta de satisfacción -->
      <poll v-if="logedUser && isEnablePoll && !logedUser.user_metas.poll"></poll>

      {% block content %}
        {# Content #}
      {% endblock %}

      {% block footer %}
        {% include "_html-footer.twig" %}
        
        {# Content #}
      {% endblock %}      
    </main>

    {{ function('wp_footer') }}
  </body>
</html>
