<title>{{ site.name }}</title>
<meta charset="{{ site.charset }}">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="title" content="Emprende Fem" />
<meta name="description" content="Empoderamiento Financiero Femenino" />
<meta name="robots" content="index,follow">	
<meta name="keywords" content="femenino, mujer, mujeres, finanzas, financiero, empoderamiento">
<link rel="icon" href="{{ theme.link }}/static/images/favicon.png">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164231187-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-164231187-1');
</script>

{% if post.slug != 'access' and params.view != 'donations' %}
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5f2c26cf5c885a1b7fb6e566/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
{% endif %}

<meta name="google-signin-client_id" content="999086702146-87q1a9kleriolc0ro8g7ob1qvp3k09d3.apps.googleusercontent.com">

{{ function('wp_head') }}
