{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--test bg-sec-color">
    <div v-if="!testDone" class="grid-container">
      <div class="grid-x align-center">
        <div class="cell medium-10 large-8">
          <h2 class="c-questions__title f1 text-uppercase w-bold text-center white">Test de <br> ESTILOS DE PERSONALIDAD (${testType})</h2>
        </div>
      </div>
    </div>
    <div class="grid-container position-relative">
      <div class="c-result width-100" :class="{ hidden : !testDone, 'c-result--done' : testDone }">
        <div class="grid-container padding-vertical-3">
          <h2 class="c-questions__title results f1 text-uppercase white margin-bottom-1">
            <span class="w-bold f1">Resultados</span>  <br> 
            <span class="w-ligth f2 text-uppercase">test de estilos de personalidad</span>
          </h2>

          <a :href="userProfile" class="c-button c-button--white-dark margin-right-1 f2 w-xbold text-center margin-bottom-2 display-inline-block">Volver al perfil</a>

          <div class="c-result__container grid-x align-center bg-white br-45 padding-vertical-2">
            <div class="cell medium-10 large-10 dark f2 position-relative">
              <figure class="c-result__figure margin-bottom-1 text-center">
                <img
                  v-if="questions.result.vector"
                  :src="`${THEME_URL}/static/images/vectors/test/behaviour/${questions.result.vector}.png`"
                  alt="" class="width-100">
                <img class="width-100" v-else src="{{theme.link}}/static/images/vectors/test/behaviour/1.png}}" alt="">
              </figure>
              <h2 class="c-result__title text-center w-bold margin-bottom-0 text-uppercase">${questions.result.title}</h2>
              <p v-if="questions.result.subtitle" class="text-center text-uppercase black fs-18 margin-bottom-2">${questions.result.subtitle}</p>
              <div v-if="questions.result.features" class="margin-bottom-2">
                <h3 class="fs-35">Carácteristicas:</h3>
                <ul>
                  <li v-for="feature of questions.result.features" :key="feature.id" v-html="feature" class="mb-05"></li>
                </ul>
              </div>
            </div>
            <div class="cell">
              <div v-if="questions.result.improvents" class="c-result__list bg-pri-color br-45 white">
                <h3 class="fs-25">Aspectos a mejorar:</h3>
                <ul>
                  <li v-for="improvent of questions.result.improvents" :key="improvent.id" v-html="improvent" class="mb-05 f2"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-test grid-x align-center" :class="{ hidden : testDone, 'c-test--done' : testDone }">
        <div class="cell medium-10 large-8">
          <section class="c-content c-content--protected position-relative bg-white br-45">
            <section class="c-questions">
              <div id="slider-questions" class="c-questions__list swiper-container margin-bottom-1">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <h3 class="text-center f2 dark fs-25 margin-bottom-1 margin-top-2">¡Cuéntanos de qué grado escolar eres!</h3>
                      <div class="c-form-new__input-container margin-vertical-3 max-w-450-center">
                        <select class="f2 border-black height-45" name="" id="">
                          <option disabled value="" selected>Selecciona el grado</option>
                          <option value="1">11</option>
                        </select>
                        <p v-if="false" class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                          Debes seleccionar un grado
                        </p>
                      </div>
                      <div class="text-center margin-top-1 margin-bottom-1">
                        <button class="c-link sec-color f2 fs-21">Continuar</button>
                      </div>
                  </div>
                  <div v-for="(question, qindex) of questions.list" :key="question.id" class="swiper-slide">
                    <h3 class="fs-21 f2 dark w-bold">${qindex + 1}. ${question.title}</h3>                  
                    <ul class="c-question f2 w-medium ul-reset overflow-hidden">
                      <li
                        class="c-question__item dark" 
                        v-for="(option, oindex) of question.options" :key="option.id">
                        <input
                          :id="'option-' + qindex + oindex"
                          :name="'question-' + qindex"
                          :value="option.credit"
                          v-model="question.answer"
                          type="radio" 
                          class="hide"
                          @change="enableNext"
                        >
                        <label 
                          :for="'option-' + qindex + oindex" 
                          class="c-option fs-18 align-middle width-100"
                        >
                          <div class="c-option__checkbox position-relative margin-right-1">
                            <span class="display-block rounded position-relative"></span>
                          </div>
                          <p class="margin-bottom-0 dark">                      
                            ${option.title}
                          </p>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div v-if="questions.list.length > 0" class="flex-container align-center align-right">
                <div class="flex-container align-middle" :class="{ enable: isEnableChange, hide: testDone }">
                  <button 
                    class="flex-container f2 fs-21 w-medium align-center-middle"
                    :class="{ 'sec-color' : currentQuestion != 1 }"
                    @click="changeQuestion('previous')" 
                    :disabled="currentQuestion == 1">
                    <span class="c-icon margin-left-1"><i class="far fa-arrow-left"></i> Anterior</span>
                  </button>
                  <p class="c-questions__progress margin-bottom-0 fs-21 f2 w-medium dark-gray text-center margin-horizontal-1">
                    <span>${currentQuestion}</span> de <span>${questions.count}</span>
                  </p>
                  <button 
                    v-if="!filled"
                    class="flex-container f2 fs-21 w-medium align-center-middle"
                    :class="{ 'sec-color' : (isEnableChange || questions.list[currentQuestion - 1].answer != -1) }"
                    @click="changeQuestion('next')" 
                    :disabled="!isEnableChange && questions.list[currentQuestion - 1].answer == -1">
                    Siguiente
                    <span class="c-icon margin-left-1"><i class="far fa-arrow-right"></i></span>
                  </button>                                   
                </div>
              </div>
            </section>
          </section>
          <div class="c-bottom-btn flex-container align-center-middle margin-top-3">
            <a :href="userProfile" class="c-button c-button--white-dark margin-right-1 f2 w-xbold text-center">Volver al perfil</a>
            <button @click="saveTest()" :disabled="!filled || isSaving" class="c-button c-button--white-dark f2 w-xbold">Guardar</button>
          </div>
        </div>
      </div>
    </div>
    <section class="c-modal c-modal--auto position-fixed width-100 height-100" :class="{ opened : !isValidTest }">
      <div class="grid-container height-100">
        <div class="grid-x align-center-middle height-100">
          <div class="cell medium-10 large-8">
            <div class="c-modal__content br--medium position-relative flex-container flex-dir-column bg-sec-color">             
              <div class="c-modal__body padding-left-1 flex-container position-relative flex-dir-column height-100 text-center">
                <h2 class="fs-30 f2 warning w-black pri-color margin-bottom-1">Oops...</h2>
                <p class="margin-bottom-1 w-medium fs-18 f2 white">
                  Puede ser que te faltó un poco de concentración para responder las preguntas o quizás quisiste dar una muy buena impresión
                </p>
                <p class="margin-bottom-2 w-medium fs-18 f2 white">
                  Te recomendamos que vuelvas a intentarlo en 15 minutos
                </p>
                <button @click="blockTest" class="c-button c-button--primary fs-18 w-medium f2">Intentarlo más tarde</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="c-modal c-modal--auto position-fixed width-100 height-100" :class="{ opened : !isEnableTest }">
      <div class="grid-container height-100">
        <div class="grid-x align-center-middle height-100">
          <div class="cell medium-10 large-8">
            <div class="c-modal__content br--medium position-relative flex-container flex-dir-column bg-sec-color">             
              <div class="c-modal__body padding-left-1 flex-container position-relative flex-dir-column height-100 text-center">
                <h2 class="fs-30 f2 warning w-black pri-color margin-bottom-1">Debes esperar un poco</h2>
                <p class="margin-bottom-2 w-medium fs-18 f2 white">
                  Vuelve en 15 minutos.
                </p>
                <a :href="profile" class="c-button c-button--primary fs-18 w-medium f2 display-block width-100">Salir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
{% endblock %}
