{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--emotional">
    <section class="c-banner padding-vertical-3">
      <div class="grid-container margin-bottom-2">
        <h1 class="f2 w-bold fs-30 white text-center text-uppercase">¿Giramos la educación?</h1>
        <h2 class="f2 w-bold fs-30 white text-center text-uppercase">#Aprendedistinto</h2>
      </div>
      <div class="grid-x align-center">
        <div class="cell large-8">
          <div class="c-banner__content grid-container">
            <div class="c-banner-video bg-white position-relative display-block br--medium margin-bottom-3">
              <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/{{banner|split('/')[3]}}?color=de0d46&title=0&byline=0&autoplay=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div></div>
            </div>
            <div class="grid-x align-center">
              <div class="cell medium-10 padding-horizontal-1">
                <p class="f2 w-bold fs-30 white text-center text-uppercase">
                  Proponemos una educación holística: Académica, emocional y creativa
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </section>
  </section>

  <!-- Modal: Cuestionario de seguimiento -->
  <questionary-student v-if="logedUser && logedUser.user_sector == 'publico' && isEnableQuestionary && logedUser.user_rol == 'student' && !logedUser.user_metas.questionary"></questionary-student>  
  <questionary-tutor v-else-if="logedUser && logedUser.user_sector == 'publico' && isEnableQuestionary && logedUser.user_rol == 'tutor' && !logedUser.user_metas.questionary"></questionary-tutor>  
  
  <!-- Modal: Encuesta de satisfacción -->
  <poll v-if="logedUser && isEnablePoll && !logedUser.user_metas.poll"></poll>
{% endblock %}

