{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--lideres-single">
    <div class="c-lideres-single bg-warning-alt padding-top-3">
      <div class="grid-container">

        <div class="c-section--lideres-single__info br--large bg-dark white position-relative">

        </div>

      </div>
    </div>
  </section>
{% endblock %}
