{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/header-mclick.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--session">
    {{post.id}}
    http://localhost/mab/sesion/sesion-1/?key=11225334346
  </section>
{% endblock %}
