{% extends '_html.twig' %}

{% block content %}
  <section class="c-section c-section--session flex-container flex-dir-column">
    {% include 'templates-parts/header-session.twig' %}

    <section class="c-meeting position-relative">
      <section class="c-suscriber bg-black height-100">
      </section>
      <section class="c-publisher position-absolute bg-pri-color br--medium">
      </section>
      <div class="c-chat position-absolute bg-white overflow-hidden flex-container flex-dir-column" :class="{ active : isActiveChat }">
        <header class="c-chat__header text-center fs-18 padding-1 flex-container align-middle">
          Chat
          <button class="fs-21" @click="isActiveChat = false">
            <span class="c-icon"><i class="far fa-times"></i></span>
          </button>
        </header>
        <div class="c-chat-inbox padding-1">
          <div class="c-chat-inbox__body height-100">
            <ul class="ul-reset">
              {% for item in [1,2,3] %}            
                <li class="c-user-message margin-bottom-1">
                  <div class="flex-container align-middle align-justify margin-bottom-1">
                    <p class="margin-bottom-0 fs-18 dark">
                      Cleiver Valera
                    </p>
                    <span>7:00</span>
                  </div>
                  <p class="margin-bottom-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae numquam velit quaerat aliquid, quis itaque optio. Magnam sed enim deleniti. Necessitatibus iure nostrum nisi ratione quam saepe velit dicta provident!</p>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="c-chat-editor flex-container margin-1">
          <input type="text" class="c-chat-editor__input input-reset height-100">
          <div class="c-chat-editor__button flex-container align-middle padding-horizontal-1 height-100">
            <span class="c-icon"><i class="far fa-paper-plane"></i></span>
          </div>
        </div>
      </div>
      <button 
        class="c-chat-toggle c-button c-button--primary rounded flex-container align-middle position-absolute"
        @click="isActiveChat = true"
        >
        <span class="c-icon"><i class="far fa-comment-dots"></i></span>
        <p class="margin-bottom-0 margin-left-1">Chatear</p>
      </button>      
    </section>
    <!-- http://localhost/mab/sesion/sesion-1/?key=11225334346 -->
  </section>
{% endblock %}

{% block footer %}

{% endblock %}
